[2020-10-06 12:25] asettle commented on #346
### Source Document
1.5.6  RBD Mirroring:

https://susedoc.github.io/doc-ses/master/single-html/ses-admin/#dash-rbd-mirror

### Summary

Missing instructions to copy _ceph.conf_ and _keyring_ from primary to secondary cluster.

So that in example that is used in doc (these commands are run from secondary node)

[code]

so on secondary it should looks like

[code]

It's good to give an example. So

[2020-10-06 12:25] asettle commented on #346
The last two bugs are from Denis Polom - combing together as one big doc bug

[2020-10-06 12:27] asettle commented on #346
Also tracking in various bugzilla requests:

1. https://bugzilla.suse.com/show_bug.cgi?id=1177308
2. https://bugzilla.suse.com/show_bug.cgi?id=1177374

[2020-10-06 12:29] vmoutoussamy commented on #647
I agree, please checkout https://bugzilla.suse.com/show_bug.cgi?id=1176438 - Move "About this guide" section at the end of the documentation.

Still I created this issue here because a pre-sales asked me how you guys produce the schema. So it's useful to know for our colleagues and maybe customers/partners.

[2020-10-06 12:31] asettle commented on #346
Bug: #642

### Source Document
1.5.6.2  Enable the <code class="systemitem">rbd-mirror</code> Daemon:

https://susedoc.github.io/doc-ses/master/single-html/ses-admin/#rbd-mirror-daemon-enable

### Summary
We need an example placement specification as at this point we have not enabled the daemon

[2020-10-06 12:35] #548 closed

[2020-10-06 12:41] #633 closed

[2020-10-06 13:01] #596 closed

[2020-10-06 13:06] jschmid1 commented on #513
I'd assume this is something like this:

[code]

[2020-10-06 13:29] dthpulse commented on #346
another one
https://susedoc.github.io/doc-ses/master/single-html/ses-admin/#id-1.4.4.5.10.9.6

you use example:

[code]

but _journaling_ feature doesn't exist.

Correct is:

[code]

[2020-10-06 16:18] sknorr commented on #647
Depends on the diagram, but usually either LibreOffice or Dia (in those cases, where a ODG or DIA file is available in the repo). In some cases, Inkscape (when there is only a SVG file available).

[2020-10-06 16:20] swiftgist opened #658 "[doc] 2.1.1.1 Adding a Private Network to a Running Cluster"
### Type of report
   - [ ] bug
   - [ ] feature request

### Source Document
2.1.1.1  Adding a Private Network to a Running Cluster:

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#storage-bp-net-private

### Summary
Incorrect command

### Steps To Reproduce
Run the command

### Expected Results
Run without error

### Actual Results
[code]

### Notes
The correct command has

[2020-10-06 16:22] asettle commented on #658
Fixed, thanks: https://github.com/SUSE/doc-ses/commit/0c549bea87da2e025b2584f97d3fc17b4dca7e52

[2020-10-06 16:22] #658 closed

[2020-10-06 17:40] swiftgist opened #659 "[doc] 2.3.2 Recommended Production Cluster Configuration"
### Type of report
   - [ ] bug
   - [ ] feature request

### Source Document
2.3.2  Recommended Production Cluster Configuration:

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#ses-bp-production-cluster

### Summary
Missing any discussion of setting the public network

### Expected Results
This may require another opinion.  One argument is that SES5 and SES6 *always* set th

[2020-10-06 18:07] #550 closed

[2020-10-07 06:31] Martin-Weiss opened #660 "15.7.3 vs 15.7.2 -> why do we need to run stage 2 in 15.7.3 but not in 15.7.2?"
**Link To Section**
https://documentation.suse.com/ses/6/html/ses-all/cha-ceph-gw.html#ogw-ssl-simple
https://documentation.suse.com/ses/6/html/ses-all/cha-ceph-gw.html#ogw-ssl-advanced

**Summary**
It is unclear why we have to run stage 2 in the simple but not in the advanced section

**Expected Results**
I believe the stages that need to be executed should be the same in both sections.

[2020-10-07 08:40] asettle commented on #660
@swiftgist could you please take a look at this? Thanks!

[2020-10-07 08:58] #636 closed

[2020-10-07 08:59] asettle commented on #614
This may yield some results: https://bugzilla.suse.com/show_bug.cgi?id=1177100

[2020-10-07 09:11] vmoutoussamy commented on #647
thanks! forwarded to pre-sale guy !

[2020-10-07 09:39] smithfarm opened #661 "SES7 Deployment Guide: 5.3.3 Update Nodes and Deploy Cluster"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
5.3.3  Update Nodes and Deploy Cluster:

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#deploy-cephadm-deploy

### Summary

The title of this section should be

    Update Nodes and Bootstrap Cluster

And the section should educate the user that `ceph-salt apply` runs `cephadm bootstrap` to bootstra

[2020-10-07 09:42] smithfarm commented on #661
Instead of "Day 1" and "Day 2" (which are developer terms and might be confusing for users) you could refer to the "bootstrapping phase" and "post-bootstrap deployment phase".

In short, deploying a SES7 cluster is a two-phase process:

Phase One (bootstrapping) is `ceph-salt apply`

Phase Two (post-bootstrap) is `ceph orch apply`.

[2020-10-07 10:37] smithfarm opened #662 "SES7 Deployment Guide 5.3.4 Deploying Services and Gateways"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
5.3.4  Deploying Services and Gateways:

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#day2-deployment

5.4 Deploying Services and Gateways:

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#deploy-cephadm-day2

### Summary

1. The whole section "5.3.4  Deploying Services and Ga

[2020-10-07 10:52] smithfarm opened #663 "SES7 Deployment Guide: 5.3 Deploying the Ceph Cluster"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
5.3  Deploying the Ceph Cluster:

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#deploy-cephadm-day1

### Summary

This chapter is missing a "Final Steps" section. I recommend to put this section at the very end of the chapter, with the following content:

5.3.999 Final Steps

Once `ceph-salt apply`

[2020-10-07 10:53] smithfarm commented on #659
Thanks @swiftgist - you make some salient points here. I attempted to address them in https://github.com/SUSE/doc-ses/issues/663

Comments welcome!

[2020-10-07 11:02] smithfarm commented on #659
(Note: I don't think that the actual commands for setting `public_network` and `cluster_network` should be covered in 2.3.2 Recommended Production Cluster Configuration but rather in a new "Final Steps" section at the end of the Day 1 Deployment chapter. Since that's when the commands to set these configuration parameters should be issued.

[2020-10-07 13:46] swiftgist commented on #660
It's inconsistent, the advanced section should run Stage 2 as well.

[2020-10-07 14:02] asettle commented on #660
Fixed, thanks: https://github.com/SUSE/doc-ses/commit/abbdb4e3dbab626547069ccdd8d54d708bb717f7

[2020-10-07 14:02] #660 closed

[2020-10-07 14:57] asettle commented on #346
In https://susedoc.github.io/doc-ses/master/single-html/ses-admin/#ceph-rbd-mirror

Would like to see these in the examples:
[code]
and for remote

[code]

Rather than:

[code]

[2020-10-07 15:02] asettle commented on #346
This is quite possibly a bug upstream also: https://docs.ceph.com/en/latest/rbd/rbd-mirroring/#enable-image-journaling-feature

[2020-10-08 09:25] asettle opened #669 "ceph-iscsi config options in mon-store"
Only after https://github.com/ceph/ceph/pull/37588 merges:

[code]

[2020-10-08 10:03] ryg- opened #670 "[doc] 5.4.3.3 Deploy Metadata Servers"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
5.4.3.3  Deploy Metadata Servers:

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#deploy-cephadm-day2-service-mds

### Summary
PLACEMENT_STRING parameter is not explained

### Expected Results
Optional parameter could be removed or should be described

[2020-10-08 10:13] ryg- commented on #670
Error message for simple string

------------
ceph fs volume create CEPHFS_NAME my_ceph_placement
Error EINVAL: Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/ceph/deployment/service_spec.py", line 34, in assert_valid_host
    assert p.match(part), 'name component must include only a-z, 0-9, and -'
AssertionError: name component must include only a-z, 0-9, and -

Durin

[2020-10-08 12:07] #626 closed

[2020-10-08 13:04] #670 closed

[2020-10-08 13:08] soothill opened #675 "[doc] 5.3 Deploying the Ceph Cluster"
### Type of report
   - [ x ] bug
   - [ ] feature request

### Source Document
5.3  Deploying the Ceph Cluster:

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#deploy-cephadm-day1

### Summary
There is no mention of needing to run SUSEConnect to register SES as a product to allow the installation of the Ceph-salt package.

### Steps To Reproduce
zypper install ceph-salt
This

[2020-10-08 13:20] ddiss commented on #586
1177245 has been closed. closing here too.

[2020-10-08 13:20] #586 closed

[2020-10-08 14:06] tbazant opened #677 "For RBD mirror section, use illustrative prompts"
In https://susedoc.github.io/doc-ses/master/single-html/ses-admin/#ceph-rbd-mirror

Would like to see these in the examples:
[code]
and for remote

[code]

Rather than:

[code]

[2020-10-08 14:10] tbazant commented on #642
reopening, like granularity :-)

[2020-10-08 14:13] tbazant commented on #656
still waiting for PR merge

[2020-10-08 14:13] tbazant commented on #646
still waiting for PR merge

[2020-10-08 14:15] tbazant commented on #346
i've resurrected subissues, rest in peace

[2020-10-08 14:15] #346 closed

[2020-10-08 14:41] asettle commented on #675
Hi @soothill - The documentation actively describes the setup here: https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#deploy-os before you have started to deploy salt. This documentation links you to the registration documentation: https://documentation.suse.com/sles/15-SP2/html/SLES-all/cha-register-sle.html

Let me know if you have any further questions.

[2020-10-08 14:45] mgfritch commented on #507
https://github.com/ceph/ceph/pull/37600

[2020-10-08 14:47] #675 closed

[2020-10-08 16:25] #659 closed

[2020-10-08 16:25] #661 closed

[2020-10-08 16:25] #662 closed

[2020-10-08 16:25] #663 closed

[2020-10-09 08:14] smithfarm opened #678 "SES7 Troubleshooting Guide does not mention "systemd-coredump""
**Link To Section**

https://susedoc.github.io/doc-ses/master/single-html/ses-troubleshooting/

**Summary**

In order to get coredumps when containerized daemons (MON, MGR, OSD, NFS-Ganesha, etc.) crash, the package `systemd-coredump` must be installed **on the host** (not inside the container) where the container is running.

It's up to the user to install this.

The package must be installed **B

[2020-10-09 08:15] smithfarm commented on #678
@denisok Can you check if what I wrote above is correct?

[2020-10-09 08:32] denisok commented on #678
and node needs to be rebooted so `systemd-coredump` changes would be applied. Otherwise correct.

[2020-10-09 09:07] smithfarm commented on #678
@denisok Should we also say something `ulimit` setting, to prevent truncation of coredumps on machines with lots of RAM?

[2020-10-09 09:14] asettle commented on #678
@smithfarm we have to be aware of the barrier to entry here. The user should install, _fine_, but we should be careful not to encourage the user to play around with the core dump settings. I'd be fine with including it as a recommendation (with no instructions), but support should know how to work with the customer to handle this. Keep in mind that processing a core dump happens when the customer

[2020-10-09 09:21] smithfarm commented on #678
@denisok Wouldn't it be simpler just to have `ceph-salt` install this RPM on all cluster nodes?

[2020-10-09 09:23] smithfarm commented on #678
There is also the option of not documenting coredumps at all - and leave it to support to make sure they are getting collected.

But then it is pretty much assured that the **first** crash (the immediate cause for the customer calling support) will not get any coredump collected. That means we will have to ask the customer to reproduce the crash in order to analyze it.

[2020-10-09 09:28] asettle commented on #678
This is what I said in the JIRA issue, to be fair :eyes:

When the customer is deploying, the customer should be advised by a specialist to ensure they have this backup. It's not a end user function.

[2020-10-09 09:29] smithfarm commented on #678
OK, I'm fine to just close this.

[2020-10-09 09:31] #678 closed

[2020-10-09 09:46] dthpulse opened #680 "[doc] 5.3.2.13 Configure the Cluster Network"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
5.3.2.13  Configure the Cluster Network:

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#deploy-cephadm-enable-network

### Summary

Cluster network has to be defined under 'osd' not 'global'

[code]

[2020-10-09 09:50] smithfarm commented on #680
@dthpulse What error do you get when it is defined under `global`?

[2020-10-09 09:53] dthpulse commented on #680
looking into ceph doc https://docs.ceph.com/en/latest/rados/configuration/network-config-ref/#cluster-network - it's correct.

[2020-10-09 09:53] #680 closed

[2020-10-09 10:12] #646 closed

[2020-10-09 10:12] #656 closed

[2020-10-09 11:32] #653 closed

[2020-10-09 14:31] asettle commented on #647
@vmoutoussamy do you require anything else here? Otherwise, this can probably be closed (or left open for a rainy day?)

[2020-10-09 14:33] asettle commented on #238
Closing, issue has been untouched since April 2020. Reopen if there is something to happen here.

[2020-10-09 14:33] #238 closed

[2020-10-12 06:26] #677 closed

[2020-10-12 06:27] #513 closed

[2020-10-12 11:06] asettle commented on #642
Related: https://bugzilla.suse.com/show_bug.cgi?id=1177308

[2020-10-12 13:45] vmoutoussamy commented on #647
I think it would be great "to let this opened for a rainy day". I remember seeing a customer showing us their internal documentation that was trying to mimic ours, so in that regard giving them the opportunity to learn really briefly how we produce images/schemas, would be a nice addition and allow them to produce schema similar to our "style".

[2020-10-12 13:51] dthpulse opened #685 "[doc] 3.2 Removing Nodes"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
3.2  Removing Nodes:

https://susedoc.github.io/doc-ses/master/single-html/ses-admin/#salt-node-removing

### Summary

'service id' is missing in examples

[code]

should be

[code]

also there is missing instruction to apply new configuration in step 1 by running

[code]

[2020-10-13 11:57] #685 closed

[2020-10-14 07:44] tbazant opened #692 "Document RGW upgrade path"
see https://jira.suse.com/browse/SES-1885?focusedCommentId=1018632&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-1018632

[2020-10-14 09:00] bk201 opened #693 "[doc] 5.4.3.5 Deploy iSCSI Gateways"
### Type of report
   - [ ] bug
   - [x] feature request

### Source Document
5.4.3.5  Deploy iSCSI Gateways:

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#deploy-cephadm-day2-service-igw

### Summary

The `trusted_ip_list` field can't contain spaces after each comma ATM. I'l suggest removing the space between `IP_ADDRESS_1` and `IP_ADDRESS_2` in the example and state this

[2020-10-14 11:00] asettle commented on #693
Thanks Kiefer, done: https://github.com/SUSE/doc-ses/commit/87623439e72650a5b5ee12fb8c305961603b7646

[2020-10-14 11:00] #693 closed

[2020-10-14 12:21] #692 closed

[2020-10-16 11:17] tbazant opened #698 "Document config-key store"
enhance this chapter https://susedoc.github.io/doc-ses/master/html/ses-admin/cha-ceph-configuration.html and include:
* general information about using `ceph config-key` to store and retrieve saved values for ceph application
* description of config-key store keys for specific application, such as ceph-iscsi in #669

[2020-10-16 11:20] tbazant commented on #698
Can you contribute with key for RGW, NFS, RBD, RBD-MIRROR etc if applicable?
@theanalyst @trociny @dthpulse @ddiss @jschmid1 @matthewoliver

[2020-10-19 09:14] asettle opened #700 "[doc] 7.1.1 Points to Consider"
### Type of report
   - [ ] bug
   - [x] feature request

### Source Document
7.1.1  Points to Consider:

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#upgrade-consider-points

### Summary

The current _Before You Upgrade_ chap needs to be split: the first bullet points inform you how to do the update and prepare for it. The last two explain what you need to do before that.

[2020-10-19 11:06] trociny commented on #698
rbd and  rbd-mirror may use config-key store for peer configuration, but one should use (higher level) `rbd` cli to update this configuration, which is documented in rbd/rbd-mirror documentation. So I think nothing rbd/rbd-mirror specific should be mentioned in this section: users are expected to use `rbd` cli and not low level `ceph config-key` for this.

[2020-10-19 12:38] #700 closed

[2020-10-19 13:07] #489 closed

[2020-10-19 19:29] jhhudso opened #706 "[doc] 3 Documentation Conventions"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
3  Documentation Conventions:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#id-1.3.2.9

### Summary
Documentation example doesn't match statement.
"Alt, Alt–F1: a key to press or a key combination; keys are shown in uppercase as on a keyboard"
In that example, Alt, Alt-F1 is not shown in uppercase as

[2020-10-20 08:29] toabctl opened #708 "[doc] 5 Commands and Command Prompts Used in This Guide"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
5  Commands and Command Prompts Used in This Guide:

https://susedoc.github.io/doc-ses/master/single-html/ses-rook/#id-1.7.2.13

### Summary
Does it make sense to have the `5.1 Salt Related Commands` and `5.2 Ceph Related Commands` in the rook guide?
When deploying with rook, there is no salt involved. Also `cephadm` is

[2020-10-20 08:39] asettle commented on #708
Not at all, makes sense :) these are templated beginnings for all guides. I'll create something new

[2020-10-20 09:37] asettle commented on #706
The documentation statement is designed to clarify the example - @tbazant any thoughts on updating this?

[2020-10-20 09:39] asettle commented on #507
This is not supported and won't be. See https://bugzilla.suse.com/show_bug.cgi?id=1177634#c15

Release note required. Tracking in BZ. Closing.

[2020-10-20 09:55] tbazant commented on #319
got much more urgent stuff, reopen if needed

[2020-10-20 09:55] #319 closed

[2020-10-20 16:42] asettle commented on #706
Done: https://github.com/SUSE/doc-ses/commit/37ba12c8c542548f3e8f86d66e69254197207327

[2020-10-20 16:42] #706 closed

[2020-10-21 07:23] #708 closed

[2020-10-21 08:46] smithfarm opened #710 "SES6 Admin Guide: "Ceph Maintenance Updates Based on Upstream 'Nautilus' Point Releases" appendix is missing 3 upstream releases"
**Link To Section**
http://docserv.nue.suse.com/documents/SES_6/ses-admin/single-html/#id-1.3.10

**Summary**
The "Upstream 'Nautilus' Point Releases" is missing sections for upstream releases:

* 14.2.10 - https://ceph.io/releases/v14-2-10-nautilus-released/#notable-changes
* 14.2.11 - https://ceph.io/releases/v14-2-11-nautilus-released/#notable-changes
* 14.2.12 - https://ceph--37718.org.readthe

[2020-10-21 14:36] asettle opened #713 "Document deploying services other than OSDs via the Dashboard"
This functionality has not been merged into Ceph Octopus yet, so it's not part of SES7 so far but it will be. Will update with more information.

[2020-10-22 09:56] asettle commented on #713
Related to: SES-1129, SES-859

Upstream backport: https://github.com/ceph/ceph/pull/37456

[2020-10-22 09:58] asettle commented on #713
Upstream tracker issue: https://tracker.ceph.com/issues/44831

Basically, we would need to document this "ServiceSpec" and then provide concrete examples on how to deploy specific services.
As the backport PR has not been merged yet, updating the docs probably has no real urgency at this point

[2020-10-22 10:01] mvangool opened #715 "Procedure 'Node Upgrade Using the SUSE Distribution Migration System' does not work."
**Link To Section**
https://documentation.suse.com/ses/6/html/ses-all/cha-ceph-upgrade.html#upgrade-one-node-auto

**Summary**
The procedure (6.8.2 Node Upgrade Using the SUSE Distribution Migration System ) as it is currently doesn't work for systems registered against SCC.
After step 3 the migration will start and fails with the following message:

[INFO ]: 09:11:13 | Running prepare service
[IN

[2020-10-22 10:44] #710 closed

[2020-10-22 10:46] asettle commented on #715
@swiftgist - we can easily fix this in the documentation as a workaround, but could you please review this from a technical POV? Just want to ensure there isn't something we could be fixing here to make this suitable for SCC users.

[2020-10-22 11:48] LenzGr opened #716 "[doc] Figure 1.2: Ceph Dashboard Home Page"
### Type of report
   - [X] bug
   - [ ] feature request

### Source Document
Figure&nbsp;1.2:  Ceph Dashboard Home Page :

https://documentation.suse.com/ses/7/single-html/ses-admin/#id-1.4.3.2.6.2.9

### Summary
The screen shot of the Dashboard landing page needs to be replaced. There have been some visual changes/improvements that are not reflected in the current screen shot:

Current screensho

[2020-10-22 11:57] LenzGr commented on #716
Note that this also impacts the screen shots of individual widgets that are explained in more detail here: https://documentation.suse.com/ses/7/single-html/ses-admin/#dashboard-widgets-status

[2020-10-22 11:59] LenzGr commented on #716
Performance widgets:
![Screenshot from 2020-10-22 13-58-02](https://user-images.githubusercontent.com/263427/96868659-e7e52400-145d-11eb-8bca-4a73f39327aa.png)

Capacity widgets:
![Screenshot from 2020-10-22 13-57-44](https://user-images.githubusercontent.com/263427/96868662-e87dba80-145d-11eb-91c1-f0e5e7bf5b74.png)

Status widgets:
![Screenshot from 2020-10-22 13-57-31](https://user-images.github

[2020-10-22 12:00] LenzGr commented on #716
Also note that the ordering was changed:

Before: Status / Performance / Capacity
Now: Status / Performance / Capacity

(so the order of the sections in the document should probably be changed, too)

[2020-10-22 12:13] #642 closed

[2020-10-22 13:32] swiftgist commented on #715
@tserong is more knowledgeable about SCC.  I do not believe I can actually create the environment to cause the original issue.

[2020-10-22 16:02] #716 closed

[2020-10-26 09:20] tbazant opened #723 "Add operating the entire services"
**Link To Section**
https://susedoc.github.io/doc-ses/master/html/ses-admin/cha-ceph-operating.html

**Summary**
Extend the chapter with `ceph orch start/stop/restart <service_name>`

**Basic Example**
`ceph orch restart mgr`

**NOTE: merge after https://tracker.ceph.com/issues/45465 is resolved**

[2020-10-27 06:08] toabctl opened #725 "[doc] Part&nbsp;II Administrating Ceph on SUSE CaaS Platform"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
Part&nbsp;II  Administrating Ceph on SUSE CaaS Platform :

https://susedoc.github.io/doc-ses/master/single-html/ses-rook/#rook-ses-admin

### Summary
`The toolbox is based on CentOS, so more tools of your choosing can be installed with yum`
This is wrong. Our toolbox container is based on SLES

[2020-10-27 11:16] LenzGr opened #726 "[doc] 12.1 Ceph Dashboard"
### Type of report
- [X] bug
- [ ] feature request

### Source Document
12.1  Ceph Dashboard:

https://documentation.suse.com/ses/7/single-html/ses-rook/#caasp-ceph-dashboard

### Summary
Similar to what was reported in #716 this dashboard screen shot is outdated and should be replaced with the one provided in that issue.

### Steps To Reproduce
Compare the landing page of the actual Ceph Dashboar

[2020-10-27 13:12] tbazant opened #727 "Consolidate Monitoring Stack deployment"
- [x]  rename "6.1 Deploying Monitoring With cephadm" to "6.1 Deploying the Monitoring Stack"
- [x] in the section "6.1 Deploying the Monitoring Stack", add a tip the the preferred deployment method is YAML and reference the reader to the deployment guide section
- [x] remove everything up to (excluding) "6.1.2 Deploying Using the Command Line Interface"
- [x] add tips about using custom registry

[2020-10-29 06:20] tserong opened #729 "[doc] 7.1.5 Verify Access to Software Repositories refers to SES6, but should say SES7"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
7.1.5  Verify Access to Software Repositories and Container Images:

https://documentation.suse.com/ses/7/html/ses-all/cha-ceph-upgrade.html#verify-previous-upgrade-patch-repos

### Summary
Says "Verify that each cluster node has access to SUSE Linux Enterprise Server 15 SP1 and SUSE Enterprise Storage 6 software reposit

[2020-10-29 10:29] mvangool opened #730 "[doc] 5.4.3.3 Deploy Metadata Servers"
### Type of report
   - [ ] bug

### Source Document
5.4.3.3  Deploy Metadata Servers:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#deploy-cephadm-day2-service-mds

### Summary
This is about the first paragraph in this section:

"CephFS requires one or more Metadata Server (MDS) services. These are automatically deployed when you create the CephFS. To create a CephFS, first cr

[2020-10-30 06:54] tserong opened #731 "[doc] Part IV Upgrading from Previous Releases has bizarre page break"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
Part IV  Upgrading from Previous Releases :

https://documentation.suse.com/ses/7/html/ses-all/ses-upgrade.html#

### Summary
When viewed as multi-page HTML, the text says "This chapter introduces steps to upgrade SUSE Enterprise Storage 6 to version 7. Upgrading from 6 to 7 means the following:", and then... nothing. So

[2020-11-05 08:57] #669 closed

[2020-11-06 09:53] #727 closed

[2020-11-06 10:12] LenzGr commented on #730
Looks like we should explain this in more detail in the SES docs. The [upstream docs](https://docs.ceph.com/en/latest/cephadm/install/#deploy-mdss) explain this as follows:

[2020-11-06 10:13] LenzGr commented on #730
Also see the [FS volumes](https://docs.ceph.com/en/latest/cephfs/fs-volumes/#fs-volumes) documentation:

[2020-11-06 10:17] smithfarm commented on #730
Just drop the sentence "These are created automatically if the newer ceph fs volume interface is used to create a new file system."

Then it will make sense.

[2020-11-06 13:04] tbazant commented on #730
fixed by https://github.com/SUSE/doc-ses/commit/144c9c45dae059b6c4552f7390cd4e82a3c51ea1

[2020-11-06 13:04] #730 closed

[2020-11-06 13:05] #729 closed

[2020-11-06 13:17] tbazant commented on #731
hopefully fixed by https://github.com/SUSE/doc-ses/commit/ca7cb740b97bb2ddeb80cfb1738719c429b00f00

[2020-11-06 13:17] #731 closed

[2020-11-09 12:53] asettle commented on #715
@tserong any help on this one? :) thanks!

[2020-11-09 12:55] asettle commented on #725
This has been fixed previously:

[code]

[2020-11-09 12:55] #725 closed

[2020-11-09 12:56] asettle commented on #713
@LenzGr any update?

[2020-11-09 13:35] #698 closed

[2020-11-09 13:36] asettle commented on #614
Closing, as unlikely to document at this stage.

[2020-11-09 13:36] #614 closed

[2020-11-10 10:28] smithfarm opened #735 "SES7: OSD management section does not emphasize --dry-run enough"
**Link To Section**

https://documentation.suse.com/ses/7/html/ses-all/storage-salt-cluster.html#osd-management

**Summary**

From the mailing list:

"At first, I didn't find the --dry-run parameter, so I don't know if my configuration will work.

"It's only explained at the end of the document, and there's no example, so it's hard to notice."

(The reporter is asking for this section to explain m

[2020-11-10 13:02] #726 closed

[2020-11-11 13:13] #735 closed

[2020-11-12 09:10] tbazant commented on #647
interesting thread, will apply doc-kit soon, closing as there's nothing to be done IMHO

[2020-11-12 09:10] #647 closed

[2020-11-12 13:01] asettle commented on #428
Closing to manage here: https://jira.suse.com/browse/SES-2281

[2020-11-12 13:01] #428 closed

[2020-11-13 02:47] yule-sun opened #739 "[doc] 1.5 RADOS Block Device (RBD)"
### Type of report
   - [ ] bug
   - [ ] feature request

### Source Document
1.5  RADOS Block Device (RBD):

https://documentation.suse.com/ses/7/html/ses-all/windows-ses.html#rados-block-device

### Summary

### Steps To Reproduce

### Expected Results

### Actual Results

### Notes

I think this should not be a bug, but I don’t know how to solve this problem.
After I installed SES4Win.msi and c

[2020-11-13 03:43] ml8mr commented on #739
That is very strange...  I wonder if there is a problem with some character in your key string. Can you replace the key in your keyring file with the one from the documentation:

  key = ADCyl77eBBAAABDDjX72tAljOwv04m121v/7yA==

I realize you won't be able to actually connect to the cluster using that key, but it would be interesting to see if that resolves the malformed input problem. Another pos

[2020-11-13 04:03] yule-sun commented on #739
Thank you sir,Thank you very much for your kind help.
I updated the key value in the keyring file, but still got the same error.
![image](https://user-images.githubusercontent.com/37107125/99026728-9a645e80-25a6-11eb-9d32-5af5f4aee5f6.png)

And this key is copied directly from the ceph mon node.
![image](https://user-images.githubusercontent.com/37107125/99026804-cd0e5700-25a6-11eb-8537-b39c64b9b0

[2020-11-13 04:53] ml8mr commented on #739
I may have been able to duplicate your problem. The keyring file must have a hard return after the last line - so the final line of the file is just an empty line. Can you try adding that and see if it fixes the problem? If so, this is a bug that we'll get fixed (and documented).

For the record, there shouldn't be any space or tab requirements in the configuration files. However, must be uniforml

[2020-11-13 05:42] yule-sun commented on #739
Yes,Yes, sir. It works now. Thank you very much.
I add a empty line at the end of the keyring file , make sure there is a blank line at the end of it, and it works now.
![image](https://user-images.githubusercontent.com/37107125/99033437-d521c300-25b5-11eb-933e-6ac426ee4a84.png)

[2020-11-13 06:15] yule-sun commented on #739
Sorry sir , I have to trouble you again.
I can connect the ceph cluster ,and create a rbd vlume ,but when i'm use the rbd-wnbd to map the volume ,i got an error like this.
![image](https://user-images.githubusercontent.com/37107125/99035331-67c46100-25ba-11eb-9413-6af73c620a47.png)

[2020-11-13 10:50] asettle commented on #739
Thanks all. Closing as complete :)

[2020-11-13 10:50] #739 closed

[2020-11-13 11:43] dirkmueller opened #740 "[doc] 5.3.2.11 Configure Container Registry"
### Type of report
   - [ ] bug
   - [x] feature request

### Source Document
5.3.2.11  Configure Container Registry:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#deploy-cephadm-configure-registry

### Summary
This section already covers a couple of tips on how to setup a registry mirror. all of them are great. This issue is about adding *another* option  called SUSE Private R

[2020-11-13 12:42] rhafer opened #741 "[doc] 5.3.2.11 Configure Container Registry"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
5.3.2.11  Configure Container Registry:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#deploy-cephadm-configure-registry

### Summary

The command given to start the registry is a bit missleading I think:

`podman run -d --restart=always --net=host --name registry -p 5000:5000 registry:2`

When using h

[2020-11-16 10:06] asettle commented on #740
@dirkmueller rather than documenting it in a second place, would a cross-reference be a suitable alternative? You know, something like, "For information on how to setup another option called the SUSE Private Registry, see <blah> for more details."

[2020-11-16 10:07] asettle commented on #741
@smithfarm what do you think?

[2020-11-16 10:10] smithfarm commented on #741
More a question for @mgfritch and/or @ricardoasmarques ?

[2020-11-16 14:38] smithfarm commented on #741
Ah, I see @sebastian-philipp is back - he's another candidate to review this.

[2020-11-17 07:46] tserong commented on #715
I think the key issue here is highlighted in the error message "The requested products 'SUSE Linux Enterprise Server LTSS 12 SP3 x86_64' have not been activated on the system". I _assume_ that what's happening here is SCC is spitting the dummy because it thinks (rightly or wrongly) that the LTSS product isn't activated on that system. There should thus be two ways to fix the problem; one is for th

[2020-11-17 09:35] lezare opened #744 "Verify SSL needs to be disabled when configuring the RGW with a self signed certificate"
**Link To Section**
https://documentation.suse.com/ses/6/single-html/ses-admin/#ogw-ssl-simple

**Summary**
If the RGW is configured to use SSL with a self signed certificate as per the above documentation, then it is also required to disable SSL verififcation else dashboard access will fail with a non descriptive error message simply stating:

`Sorry, we could not find what you were looking for`

[2020-11-17 10:26] asettle commented on #744
@theanalyst could you please verify? :) thank you!

[2020-11-17 13:30] sebastian-philipp opened #745 "[doc] 3.3 Removing Nodes"
### Type of report
   - [X] bug
   - [ ] feature request

### Source Document
3.3  Removing Nodes:

https://susedoc.github.io/doc-ses/master/html/ses-admin/storage-salt-cluster.html#salt-node-removing

### Summary

From:

https://tracker.ceph.com/issues/48260
https://bugzilla.suse.com/show_bug.cgi?id=1176265

After removing all OSDs on a single host, the user has to manually remove the "host" from

[2020-11-18 11:55] asettle commented on #715
@mvangool any chance you could test this solution?

[2020-11-18 11:56] asettle commented on #745
@sebastian-philipp could you please provide accurate steps on how to do so.

[2020-11-18 13:37] sebastian-philipp opened #747 "[doc] 3.7.1 Starting the Update"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
3.7.1  Starting the Update:

https://susedoc.github.io/doc-ses/master/single-html/ses-admin/#deploy-cephadm-day2-cephupdate-start

### Summary

Users need to call `ceph-salt update` when upgrading the cluster to a new version. Right now, the update procedure only mentions `ceph orch...`

Thus there are two commands requi

[2020-11-19 10:04] l-mb opened #750 "[doc] 2.4 Valgrind"
### Type of report
   - [X] Improvement

### Source Document
2.4  Valgrind:

https://documentation.suse.com/ses/7/single-html/ses-troubleshooting/#bp-troubleshooting-valgrind

### Summary

I'd suggest to remove this section. Since we've containerized our deployment, this would require the users/admins to install -debuginfo packages inside the container images. Running valgrind is not an activity w

[2020-11-19 10:10] votdev opened #752 "[doc] 3.9 Removing an Entire Ceph Cluster"
### Type of report
   - [ ] bug
   - [ ] feature request
   - [x] discussion

### Source Document
3.9  Removing an Entire Ceph Cluster:

https://documentation.suse.com/ses/7/html/ses-all/storage-salt-cluster.html#ceph-cluster-purge

### Summary
I think we need to discuss the word `runner` in the sentence `The ceph-salt purge runner removes the entire Ceph cluster.` and the use of this in the whole

[2020-11-19 10:11] asettle commented on #752
@votdev Thanks for bringing this up. We intend to clean-up and clarify language changes from SES 6 -> 7 after this doc day. This is a good example. I'll make sure to grep through the guide.

[2020-11-19 10:14] l-mb opened #753 "[doc] 6.1.2 Deploying Using Custom or Local Images"
### Type of report
   - [X] bug

### Source Document
6.1.2  Deploying Using Custom or Local Images:

https://documentation.suse.com/ses/7/single-html/ses-admin/#monitoring-custom-images

### Summary
The documentation specifies the actual version strings for the images as examples. I expect these will change over the course of SES 7.

Should we drop that here and instead provide a command that list

[2020-11-19 10:19] l-mb opened #754 "[doc] 3.10 Distributing a Program Temporary Fix (PTF)"
### Type of report
   - [X] Feature request

### Source Document
3.10  Distributing a Program Temporary Fix (PTF):

https://documentation.suse.com/ses/7/single-html/ses-troubleshooting/#bp-troubleshooting-ptfs

### Summary

We describe how to redeploy a given daemon with a specific container image as a PTF. The only section that describes how to set the global image that I could find is actually w

[2020-11-19 10:23] phakkarainen opened #755 "[doc] 7.4.12 PG Auto-scaler"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
7.4.12  PG Auto-scaler:

https://documentation.suse.com/ses/7/single-html/ses-admin/#op-pgs-autoscaler

### Summary
Should we talk about Octopus release here?
Isn't autoscaler now enabled by default?

### Steps To Reproduce

### Expected Results

### Actual Results

### Notes

[2020-11-19 10:26] phakkarainen opened #756 "[doc] 7.4.2 Determining the Value of <em class="replaceable ">PG_NUM</em>"
### Type of report
   - [ ] bug
   - [ ] feature request

### Source Document
7.4.2  Determining the Value of <em class="replaceable ">PG_NUM</em>:

https://documentation.suse.com/ses/7/single-html/ses-admin/#op-pgs-pg-num

### Summary
Would this now be automatic with autoscaler?

### Steps To Reproduce

### Expected Results

### Actual Results

### Notes

[2020-11-19 10:47] ricardoasmarques commented on #752
@votdev you are rigth, it should be `command` instead of `runner`.

[2020-11-19 12:19] jan--f opened #760 "[doc] Part&nbsp;II Deploying Ceph Cluster"
We only ship one way of deploying the cluster I assume? Probably left over from earlier.

 ### Type of report
   - [ ] bug
   - [ ] feature request

### Source Document
Part&nbsp;II  Deploying Ceph Cluster :

https://documentation.suse.com/ses/7/html/ses-all/ses-deployment.html#

### Summary

### Steps To Reproduce

### Expected Results

### Actual Results

### Notes

[2020-11-19 12:29] asettle commented on #760
@jan--f I think this is about to become two, based on whether or not https://github.com/ceph/ceph/pull/37456 merges. But I'll keep this open, we should have removed that regardless (and should do so, until otherwise)

[2020-11-19 13:14] supriti opened #764 "[doc] 15.7.1 Supported Object Gateway Operations"
https://documentation.suse.com/ses/7/single-html/ses-admin/#ganesha-rgw-supported-operations

For ses7, we support only nfs-ganesha with cephfs. There is no support for deployment of nfs-ganesha and rgw (object gateway). AFAIK there is work upstream to have this support. It may land later. Need to verify with Michael Fritch about the final decision on this.

[2020-11-19 13:15] asettle commented on #764
Good catch, we removed most mentions, but clearly missed this.

[2020-11-19 13:15] asettle commented on #764
Looks like we missed it in a few places: https://documentation.suse.com/ses/7/single-html/ses-admin/#ceph-nfsganesha-customrole

I'll grep through

[2020-11-19 13:23] asettle commented on #753
Previously, we've always listed the actual version strings. Do we have a command? If so, I'm unaware of it and would appreciate the command and example output to replace it with.

[2020-11-19 13:28] supriti opened #765 "[doc] 15.4 Create an NFS Export"
https://documentation.suse.com/ses/7/single-html/ses-admin/#ceph-nfsganesha-create-export

We can expand it and explain with an example on how each of the three config files should look like: bootstrap-config, common-config and export-config (Similar to confluence doc created by @mgfritch). Without using dashboard, deploying nfs-ganesha would require end user to modify lot of config files by hand.

[2020-11-19 13:30] smithfarm opened #766 "SES7: 1 Available Documentation does not explain how to install the documentation"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
1  Available Documentation:

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#id-1.3.2.4

### Summary

This section of the Deployment Guide says: "In addition, the product documentation is usually available in your installed system under /usr/share/doc/manual."

I find this statement ambiguous - espec

[2020-11-19 13:30] asettle commented on #760
The complete sentence says more:

[code]

[2020-11-19 13:33] supriti opened #767 "[doc] 15.1 Starting or Restarting NFS Ganesha"
### Source Document
15.1  Starting or Restarting NFS Ganesha:

https://documentation.suse.com/ses/7/single-html/ses-admin/#ceph-nfsganesha-services

We should specify that nfs-ganesha service would start but it won't do anything useful unless user has created export-config and common-config. Only after export-config and common-config are created, user can export cephfs over nfs-ganesha.

A easier

[2020-11-19 13:40] smithfarm opened #769 "SES7: 1 Available Documentation hyperlinks are reversed"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
1  Available Documentation:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#id-1.3.2.7

### Summary

This section presents a list of documentation resources (books):

* Deployment Guide
* Book “Operations and Administration Guide”
* Book “Security Hardening Guide”
* Book “Troubleshooting Guide”
* Book “

[2020-11-19 13:41] supriti opened #770 "[doc] 15.2 Create an NFS Service"
### Source Document
15.2  Create an NFS Service:

https://documentation.suse.com/ses/7/single-html/ses-admin/#ceph-nfsganesha-nfservice

I think this section should be mentioned at start of NFS-Ganesha section (after short introduction about NFS-Ganesha). One needs to be sure that nfs-ganesha is already deployed before trying to do any of the configurations.

[2020-11-19 13:42] asettle commented on #769
Yes, that's correct. Our styling supports cross-referencing between guides, but you'll note that throughout the guides you won't find hyperlinks, they'll be detailed reference points instead.

@sknorr @tomschr anything we can do about this? :)

[2020-11-19 13:43] asettle commented on #766
@tbazant would you be able to look after this update? :)

[2020-11-19 13:58] l-mb opened #771 "[doc] 4.3.1 An OSD Will Not Start"
### Type of report
   - [X] bug
   - [X] feature request

### Source Document
4.3.1  An OSD Will Not Start:

https://documentation.suse.com/ses/7/single-html/ses-troubleshooting/#troubleshooting-osd-start

### Summary
This documents how to adjust /etc/sysctl.conf, however we do deploy `/etc/sysctl.d/90-ceph-osd.conf` that we should modify.

However, we also have https://github.com/SUSE/ceph/blob/s

[2020-11-19 14:01] asettle commented on #771
@l-mb regarding coredump, this is completely out of scope for a traditional user, and should only really be conducted by support staff. We noted this in the relevant JIRA: https://jira.suse.com/browse/SES-1340 (in summary, by the time you are required to perform a core dump, you should be on the phone to support and they can take you through this action, this is too indepth). My comment on that is

[2020-11-19 14:28] tomschr commented on #769
@asettle This is currently a problem and hard to change.

Currently, the SES Guide is built from a set and it contains different books. So if you have a valid XML file, all ID/IDREFs are correct.

However, if you render a single book from your set you might have a problem. You need to distinguish between two cases:

* "Inside references"
  These are references which stays inside the book. For exam

[2020-11-19 14:32] votdev opened #772 "[doc] 1.1.6.3 Performance Widgets"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
1.1.6.3  Performance Widgets:

https://documentation.suse.com/ses/7/html/ses-all/ceph-dashboard.html#dashboard-widgets-performance

### Summary
The widget `Client Read/Write` is described twice.

[code]
I suggest the use the former description.

[2020-11-19 14:34] asettle commented on #769
Thanks for the thorough review, @tomschr - sounds about right. What problems do you foresee with linking them directly to d.s.c? Potential redirects or something else?

[2020-11-19 14:38] tomschr commented on #769
Well, directly linking them to d.s.c would work if the pages are there. :wink:  If you have a prerelease that isn't published on d.s.c, then you might have a problem. Although, it's a small one.

[2020-11-19 14:38] luis-henrix commented on #771
Yeah, that text seems to come from upstream docs (troubleshooting-osd.rst) but it doesn't really make sense here.  AFAIK only clients (CephFS, rbd) accessing the cluster *may* use other distros; OSDs (or any other ceph daemons) are supposed to be deployed in well-known distributions running well-know kernel versions ;-)

So my opinion is to drop that bullet point.

[2020-11-19 14:40] asettle commented on #769
That's okay though, to solve this as an immediate issue: that will work just fine. But we need to make sure for future releases we update the link according to the URL structure. Thanks for your help :)

[2020-11-19 14:43] tomschr commented on #769
You could use `&productnumber;` in your link:

[code]

Technically, it would work and you don't need to think about this link. You only need to make sure, you update the entity. :wink:

[2020-11-19 14:45] asettle commented on #769
Good shout! Thanks!

[2020-11-19 14:47] smithfarm commented on #771
If coredumps are out of scope for a traditional user, then isn't tweaking sysctl settings also out of scope?

Also, `/etc/sysctl.d/90-ceph-osd.conf` is owned by the ceph-osd package, which means it is installed only inside the OSD container. Do sysctl settings done inside a container have any effect on the kernel? I would expect the answer to be "no", but I've encountered stranger things than that

[2020-11-19 14:48] tomschr commented on #769
I forgot to tell you, I think the URL works also _without_ a product version. It will then call the latest version.

Not entirely sure if this would be a good or bad think. :thinking:

[2020-11-19 14:48] smithfarm commented on #771
I see I already opened an upstream issue for this: https://tracker.ceph.com/issues/47873

This issue title is: "/usr/lib/sysctl.d/90-ceph-osd.conf getting installed in container, rendering it ineffective"

[2020-11-19 14:50] asettle commented on #769
@tomschr hmm, that would be the best solution. Indeed if you click on https://documentation.suse.com/ses/single-html/ses-admin/#book-storage-admin it automatically sets you to the latest version. That would make life a million times easier for this exact instance.

[2020-11-19 14:50] smithfarm commented on #771
I would support either (a) dropping the entire section or (b) reducing it to a statement that if an OSD refuses to start and you can't figure out why that is, generate a supportconfig and open a support ticket.

[2020-11-19 15:01] smithfarm commented on #771
Another idea would be to point the user to the section that explains how to display the log of a particular OSD, and how to "turn the logging up (if it isn't already)" (as the third bullet point currently says, rather unhelpfully).

[2020-11-19 15:06] tomschr commented on #769
Another idea you can think of: you could introduce an entity as a root URL. For example:

[code]

which can be used like this:

[code]

Would create the same link. Benefits:

* URLs are way shorter and easier to handle
* Maintenance is a bit easier
* If you want to change the URL, change the entity :tada:

Drawbacks:

* Grep wouldn't work anymore (but you can grep for `sesroot`)
* Maybe your cat d

[2020-11-19 15:16] sknorr commented on #769
Be aware that this change will lead to less useful links in what is supposed to be the main version of our documentation (the multi-page HTML), that currently has working links to all the guides... cf. https://documentation.suse.com/ses/7/html/ses-all/bk01pr01.html#id-1.3.2.7

[2020-11-19 15:18] asettle commented on #769
Do you have another suggestion, @sknorr? :)

[2020-11-19 15:26] trociny opened #775 "[doc] 10.1.2 Creating a Block Device Image in an Erasure Coded Pool"
### Type of report
   - [ ] bug
   - [ ] feature request

### Source Document
10.1.2  Creating a Block Device Image in an Erasure Coded Pool:

https://documentation.suse.com/ses/7/single-html/ses-admin/#ceph-rbd-cmds-create-ec

### Summary
I would like we improve description about what the metadata pool is. In the current version it might be confusing.

I would add, that the metadata pool is the p

[2020-11-19 15:29] trociny commented on #775
Probably, in the next section, 10.1.3 Listing Block Device Images, we could say that if an image has data was created with data-pool option, the list will list it in the metadata pool.

[2020-11-19 15:38] asettle commented on #771
I'd say so, tbh.

[2020-11-19 15:38] sknorr commented on #769
Options:

1. Keep the current thing, so it at least works for normal HTML (though not for the other versions)
2. Use the new version but link to normal HTML instead of single HTML.
3. Use both and profile differently between single HTML/PDF/EPUB and normal HTML. (However, that will have the negative side effect of affecting display on the nav page at doc.suse.com/ses/7, so I would not recommend it

[2020-11-19 15:40] asettle commented on #769
I'd say we need this to work for both versions.

This is already the case.

How does this work? But if you don't recommend it, let's just not consider it. I'd rather go with what is possible, simple, and supportable.

Ah, yes. That would be good. Do we have a date for this?

[2020-11-19 15:45] trociny opened #777 "[doc] 10.2 Mounting and Unmounting"
### Type of report
   - [ ] bug
   - [ ] feature request

### Source Document
10.2  Mounting and Unmounting:

https://documentation.suse.com/ses/7/single-html/ses-admin/#storage-bp-integration-mount-rbd

### Summary
Can we replace all usage of `rbd map` to `rbd device map`, `rbd unmap` to `rbd device unmap`, and `rbd showmapped` to `rbd device list`? Although the old commands are still working, th

[2020-11-19 15:48] asettle commented on #777
@trociny should `rbd list` be `rbd device list` also?

[2020-11-19 15:48] asettle commented on #777
Also, would `rbd resize` follow the same conventions?

[2020-11-19 16:10] trociny opened #779 "[doc] 10.4.4 <code class="systemitem">rbd-mirror</code> Daemon"
### Type of report
   - [ ] bug
   - [ ] feature request

### Source Document
10.4.4  <code class="systemitem">rbd-mirror</code> Daemon:

https://documentation.suse.com/ses/7/single-html/ses-admin/#rbd-mirror-daemon

### Summary
This section is outdated. It describes a way to deploy rbd-mirror daemon that is not used in SES7. The correct way is described in SES7 deployment guide [1]. So we should

[2020-11-19 16:12] asettle commented on #779
@trociny I'll remove this. It doesn't suit our structured format.

[2020-11-19 16:16] trociny opened #781 "[doc] 10.7 Read-ahead Settings"
### Type of report
   - [ ] bug
   - [ ] feature request

### Source Document
10.7  Read-ahead Settings:

https://documentation.suse.com/ses/7/single-html/ses-admin/#rbd-readahead-settings

### Summary
Please add a note that those settings are used only by the userspace RBD implementation librbd and not used by the kRBD implementation. See the similar note for "QoS Settings" [1].

[1] https://docu

[2020-11-19 16:56] sknorr commented on #769
Ah, I missed that part, sorry.

Nope.

[2020-11-19 18:57] mgfritch commented on #767
The common config is created by cephadm during `ceph orch apply`. The ganesha service will then is then listed by the dashboard and exports can be configured there .. ?

[2020-11-19 19:29] mgfritch commented on #770
https://github.com/SUSE/doc-ses/pull/785

[2020-11-20 07:04] holgis opened #787 "[doc] 5.2 Deploy Salt"
### Type of report
   - [X] bug
   - [ ] feature request

### Source Document
5.2  Deploy Salt:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#deploy-salt

### Summary
Default entry in /etc/salt/master is different as described:
do states:
_Edit /etc/salt/master and uncomment the following line:_
`#log_level_logfile: WARN`
while my /etc/salt/master file contains:
`#log_level: wa

[2020-11-20 07:09] holgis opened #788 "[doc] 5.2 Deploy Salt"
### Type of report
   - [X] bug
   - [ ] feature request

### Source Document
5.2  Deploy Salt:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#deploy-salt

### Summary
(Similar as in issue 787 but for salt-minion)
The default entry in /etc/salt/minion is not
`#log_level_logfile: WARN`
but
`#log_level_logfile:`
and needs to be changed to (while this is the default value anyway):

[2020-11-20 07:19] holgis opened #789 "[doc] 5.3.2.1 <code class="systemitem">ceph-salt</code> Shell"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
5.3.2.1  <code class="systemitem">ceph-salt</code> Shell:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#deploy-cephadm-configure-shell

### Summary
Section in `ceph-salt config` `ls` is missing `tuned` part:
In docu is is shown as:
[code]
while for me it shows:
[code]

### Steps To Reproduce
Open shel

[2020-11-20 07:33] holgis commented on #789
Also missing in section 5.3.2.14

[2020-11-20 09:25] asettle commented on #787
@smithfarm I believe we went through this and WARN was fine, any thoughts?

[2020-11-20 09:26] asettle commented on #789
@ricardoasmarques could you confirm outdated ceph-salt config outputs?

[2020-11-20 09:52] smithfarm commented on #787
@asettle @ricardoasmarques is the expert here, but I do believe the doc should say:

"Edit /etc/salt/master and uncomment the following line:

[code]
"

This `#log_level_logfile: warning` is what I see in my ses7 deployment (created using `sesdev`). I assume @holgis 's deployment was done using Autoyast, which might explain the difference.

@holgis Is there really no `#log_level_logfile:` line in

[2020-11-20 09:54] smithfarm commented on #787
@asettle In short, I believe the doc should be corrected to:

[code]

But please let @ricardoasmarques confirm before taking any action.

[2020-11-20 09:55] smithfarm commented on #787
@holgis It's a little confusing, because the file /etc/salt/master has two very similar settings:

1. `log_level`
2. `log_level_logfile`

Easy to confuse the two. Maybe the documentation should mention this, @asettle?

[2020-11-20 10:46] asettle commented on #787
@smithfarm definitely, good idea. I'll wait till @ricardoasmarques confirms, and we'll make the changes. Do we need to document anything regarding `log_level` or just changing `log_level_logfile`?

[2020-11-20 10:52] #772 closed

[2020-11-20 10:54] #775 closed

[2020-11-20 10:54] smithfarm commented on #787
@asettle I was thinking something along the lines of a "Tip" or "Information" box saying:

"The /etc/salt/master file contains two similar configuration parameters - `log_level` and `log_level_logfile` - make sure you are changing the correct one."

[2020-11-20 12:01] holgis commented on #787
There is, here is what I stated initially:
[code]

[2020-11-20 12:03] smithfarm commented on #787
@holgis I guess what I'm trying to say is: the `log_level` setting is not important. What is important is the `log_level_logfile` setting.

[2020-11-20 12:04] holgis commented on #787
OK, also the `log_level_logfile` is around and not using `WARN` but `warning` as default entry:
`#log_level_logfile: warning
`

[2020-11-20 12:05] smithfarm commented on #787
`log_level` controls which log messages will be displayed on the screen
`log_level_logfile` controls which log messages will be written to `/var/log/salt/master`

[2020-11-20 12:07] holgis commented on #787
Sorry, now I realized that I just copied the wrong line to the issue in the beginning. The but report is corruct but my quote should not be
`#log_level: warning
`but
`#log_level_logfile: warning `

[2020-11-20 12:10] smithfarm commented on #787
@asettle Please change "WARN" to "warning" here:

[code]

and, a little further down, also change "WARN" to "warning" *and* "INFO" to "info" in this bit:

[code]

That, I believe, will fix the bug. Consider also adding the information tip I suggested, since it's easy to get "log_level" confused with "log_level_logfile".

[2020-11-23 09:42] #747 closed

[2020-11-23 10:16] tbazant commented on #765
@supriti @mgfritch to expand that section, i need the input + example. maybe it already exists in confluence, the attach the link here please

[2020-11-23 10:24] Martin-Weiss opened #792 "Missing Dashboard howto on iSCSI management"
**Link To Section**
https://documentation.suse.com/ses/6/html/ses-all/cha-ceph-iscsi.html#

**Summary**
It seems we are missing the explanation on how to create a new RBD and export it via the Dashboard.
Or where can this be found?

[2020-11-23 10:34] tbazant commented on #788
@smithfarm @holgis if we want `warning` there and it is the default at the same time, why document it at all?

[2020-11-23 10:35] #769 closed

[2020-11-23 10:39] asettle commented on #792
@Martin-Weiss here we go: https://documentation.suse.com/ses/6/single-html/ses-admin/#dashboard-rbds-create

Let me know if you see any improvements to be made here.

[2020-11-23 10:40] tbazant commented on #788
looks like this is a duplicate of #787

[2020-11-23 10:40] #788 closed

[2020-11-23 10:47] Martin-Weiss commented on #792
Hm - maybe https://documentation.suse.com/ses/6/html/ses-all/book-storage-admin.html needs to be updated... CTRL-F can not find the iSCSI chapter for RBD export via dashboard.. and https://documentation.suse.com/ses/6/single-html/ses-admin/#dashboard-rbds-create - is is really strange when I access this link - Firefox ends up at a total wrong place and when searching there for iSCSI I can not find

[2020-11-23 10:49] asettle commented on #792
Hmm @Martin-Weiss I'm not sure what improvements to suggest, unless you have something in particular? I easily found the chapter you needed by using CTRL+F.

[2020-11-23 10:54] Martin-Weiss commented on #792
When I use firefox or chrome and open https://documentation.suse.com/ses/6/single-html/ses-admin/#book-storage-admin and then do CTRL-F "iscsi" I do NOT find a chapter on iSCSI management via the dashboard ..

I just find iSCSI here:
![grafik](https://user-images.githubusercontent.com/13362573/99954020-68ab7e80-2d82-11eb-80d9-fda7da9eb34a.png)

and in figures:
![grafik](https://user-images.githubu

[2020-11-23 11:01] asettle commented on #792
In fairness, we're searching differently :) I went: Dashboard -> RADOS Block Device and was easily able to find the section you requested.

As you note, if you search for "iscsi" you're not going to find iscsi management in the table of contents, but you will find the section by looking through the full document.

The table of contents only displays up to 2 levels. So it will not show the third su

[2020-11-23 11:05] Martin-Weiss commented on #792
So do we recommend to always download the full document before searching?

IMO we should have this also in the TOC.. end user was searching for iSCSI in the TOC to find out how to create a new iSCSI LUN.. so at the moment IMO the TOC needs to get some more content or we should always force the end user do download the full guide.

[2020-11-23 11:06] Martin-Weiss commented on #792
Any idea why we do not have a complete TOC and why we limit this to 2 levels, only?

[2020-11-23 11:13] asettle commented on #792
We have no recommendations for how a user is to search and manage their consumption of material. That's entirely up to the individual. For example, I tend to stick to using the single-html page so I am able to search. This option is available on all our sites (doc.suse.com and susedoc.github.io), including the option to download a PDF, epub, or use a HTML page.

The TOC should not be the single so

[2020-11-23 11:54] Martin-Weiss commented on #792
Thanks for the explanations - basically I see room for improvement in usability as the customer I am in contact with just did not find what he was looking for and I can understand how he thinks and was going through the TOC.. it is a bit strange that we find iSCSI in the TOC for some operations and not for some other operations.. On the other hand I also understand the limit in resources and the w

[2020-11-23 11:55] asettle commented on #792
Absolutely, will do! Thanks for the report, it helps us for the next time. Hopefully the changes we made in SES 7 improved the search as well :)

[2020-11-23 12:06] #779 closed

[2020-11-23 13:19] tbazant opened #794 "Shift the Dashboard chapter up into a separate DocBook part"
**Link To Section**
https://susedoc.github.io/doc-ses/master/html/ses-admin/ceph-dashboard.html

**Summary**
Shift the Dashboard chapter up into a separate DocBook part to make its subheading appaer in the TOC

**NOTE** make the backporting to SES6 manually!!!

[2020-11-23 13:39] #777 closed

[2020-11-23 13:41] asettle commented on #754
@sebastian-philipp

[2020-11-23 13:41] asettle commented on #753
@tbazant  thoughts?

[2020-11-23 13:43] theanalyst commented on #744
Yeah this is true, unless we have installed the self signed certificate that the dashboard needs in the dashboard node

[2020-11-23 13:44] asettle commented on #744
@theanalyst same for SES 6 and 7?

[2020-11-23 13:50] sebastian-philipp commented on #754
me?

[2020-11-23 13:51] asettle commented on #754
@sebastian-philipp see the question from Lars in the description

[2020-11-23 13:54] sebastian-philipp commented on #754
* `ceph-salt update` will not touch those services
* `ceph orch upgrade ...` will upgrade those manually deployed daemons.

`ceph orch ps` shows all container images.

`ceph orch ps` shows all daemons known to ceph.

[2020-11-23 14:16] asettle commented on #754
Then I don't think anything needs to be changed, thanks @sebastian-philipp - is this suitable, @l-mb ?

[2020-11-23 16:09] #781 closed

[2020-11-24 07:33] #787 closed

[2020-11-24 07:45] tbazant commented on #723
Already resolved

[2020-11-24 07:45] #723 closed

[2020-11-24 10:21] #766 closed

[2020-11-24 12:00] #792 closed

[2020-11-24 12:00] #794 closed

[2020-11-24 12:35] #750 closed

[2020-11-24 12:35] #752 closed

[2020-11-24 12:35] #755 closed

[2020-11-24 12:35] #756 closed

[2020-11-24 12:35] #760 closed

[2020-11-24 12:35] #764 closed

[2020-11-24 14:03] soothill opened #798 "[doc] 19.1 Balancer"
### Type of report
   - [ X ] bug
   - [ ] feature request

### Source Document
19.1  Balancer:

https://documentation.suse.com/ses/7/single-html/ses-admin/#mgr-modules-balancer

### Summary
There is a section in the documentation here that mentions about upmap not being supported.

Jan Fajerski thinks this is an overhang from SES 6 and probably just needs updating.

### Steps To Reproduce

### Ex

[2020-11-24 14:04] asettle commented on #798
@jan--f I think we can simply remove this section, no?

[2020-11-25 07:42] #789 closed

[2020-11-25 11:53] asettle commented on #767
@supriti ?

[2020-11-25 11:54] jan--f commented on #798
Yes I believe we fully support the upmap balancer in SES7. @l-mb any objections?

[2020-11-25 11:56] asettle commented on #798
Cool. I can simply remove the note :+1:

[2020-11-25 13:11] dirkmueller commented on #740
yes, similar to how the tip "Registry Cache", which reads

we could add a similar blob of text documenting suse private registry.

[2020-11-26 09:19] sebastian-philipp commented on #745
I'm sure we're talking about https://docs.ceph.com/en/latest/rados/operations/crush-map/#remove-a-bucket here. @jecluis correct?

[2020-11-26 11:08] smithfarm commented on #745
Correct. In other words:

1. find name of bucket to be removed
2. `ceph osd crush remove {bucket-name}`

That's the essence of https://github.com/SUSE/DeepSea/pull/1297 which fixed the issue in DeepSea.

[2020-11-26 11:15] l-mb commented on #754
So we need to document that a customer would need to either undo the changes, or run `ceph orch upgrade` on them explicitly for `ceph-salt update` to complete entirely?
We should probably at least document that `ceph-salt update` will not overwrite such manual changes.

[2020-11-26 11:25] asettle commented on #713
Removing Lenz and adding @callithea :)

[2020-11-26 11:26] sebastian-philipp commented on #741
relates to https://bugzilla.suse.com/show_bug.cgi?id=1177210

[2020-11-26 11:29] sebastian-philipp commented on #741
#799

[2020-11-26 11:29] smithfarm commented on #741
I think that, in general, the SES7 development effort did not foresee that nearly every user would decide to use a local container registry.

[2020-11-26 11:30] smithfarm commented on #741
I'm still not convinced that administration of container registries (local or remote) is in-scope for the SES product/project.

[2020-11-26 11:31] sebastian-philipp commented on #741
I think it is. I think we have to move this uppstream

[2020-11-26 11:32] asettle commented on #741
I am going to close this issue. We only need to track comments in _one_ place and this is not a documentation issue until the technical issues have been resolved. I am writing a comment in the BZ ticket.

[2020-11-26 11:32] #741 closed

[2020-11-26 11:52] callithea commented on #713
Thank you, @asettle :)
I'm still working on the backport, unfortunately there are a lot of differences in octopus compared to the original PR targeting master and I'm still addressing those. I'll post an update as soon as possible!

[2020-11-26 12:35] asettle commented on #713
Awesome, thanks @callithea !

[2020-11-26 16:13] asettle commented on #715
@tserong so I've spoken to Mark, and what it boils down to is that the instructions still don't work for this use case. Mark's agreed to write up a TID, so it will be easily searchable for our customers. We could add a note that says something like, "If you are doing this, then you need to manually remove the packages", but I don't want to cause confusion. Do you have any thoughts?

[2020-11-27 09:28] sebastian-philipp opened #809 "[doc] 3 Troubleshooting cephadm"
### Type of report
   - [ ] bug
   - [X] feature request

### Source Document
3  Troubleshooting cephadm:

https://documentation.suse.com/ses/7/html/ses-all/bp-troubleshooting-cephadm.html#

### Summary

In case adding hosts in cephadm fail, like so:

[code]
Try:

1. follow the debug steps as printed in the error message

2. Add the host manually

* In case `hostname` prints a fqdn, try adding the

[2020-11-30 10:52] tbazant commented on #809
@sebastian-philipp we do not mention `ceph orch host add` in our docs as we recommended YAML based deployments. Do we plan to include cmdline approach as well as is suggested in this issue? If yes, i should document that first and then add the troubleshooting tip. Agree?

[2020-11-30 14:41] #740 closed

[2020-11-30 14:53] #798 closed

[2020-11-30 15:27] #771 closed

[2020-12-01 10:06] asettle commented on #753
@p-se could you please take a look at this?

[2020-12-01 12:28] sebastian-philipp commented on #809
some more context:

When [adding a new node](https://susedoc.github.io/doc-ses/master/single-html/ses-admin/#adding-node)

A user might get an error from cephadm that it can't add a host. In such a case, users should try addnig the host manually with `ceph orch host add <hostname>` to see if this fails. Then, follow the steps above.

[2020-12-01 12:56] #754 closed

[2020-12-01 13:34] #745 closed

[2020-12-02 09:27] supriti commented on #767
In that case, we should make it clear that user will need to setup export from dashboard to have a usable nfs-ganesha. Its not very clear from documentation right now.

[2020-12-02 09:30] supriti commented on #765
This is the page I am referring to :https://confluence.suse.com/display/SUSEEnterpriseStorage/nfs-ganesha

[2020-12-02 13:51] asettle commented on #767
@supriti we have an `Important` sign here: https://documentation.suse.com/ses/7/single-html/ses-admin/#dashboard-ogw with the actual docs here: https://documentation.suse.com/ses/7/single-html/ses-admin/#dashboard-ogw-enabling

Do you suggest a better placement or location?

[2020-12-03 12:21] #809 closed

[2020-12-03 14:18] p-se commented on #753
That's a great idea I also have already thought about. However, there's no such command at the moment.

[2020-12-04 12:30] nistiwar opened #814 "SES7 deployment fails with "Timeout value reached. in find an admin host""
**Link To Section**
5.3.3 Update Nodes and Bootstrap Minimal Cluster, Deployment guide

**Summary**
Following the documentation from the start, when trying to bootstrap minimal cluster, it times out waiting for admin node.

**Steps To Reproduce**
Install sles15sp2 on various nodes and follow the deployment guide

**Expected Results**
Minimal cluster is installed and bootstrapped.

**Actual Results

[2020-12-07 07:42] dasrohr opened #815 "[doc] 7.2 Upgrade the Salt Master"
### Type of report
   - [ x ] bug
   - [ ] feature request

### Source Document
7.2  Upgrade the Salt Master:

https://documentation.suse.com/ses/7/html/ses-all/cha-ceph-upgrade.html#upgrade-salt-master

### Summary
wrong config example in documentations
`salt HOST_NAME state.apply ceph.upgrade.ses7.adopt` failes with `Unable to manage file: Jinja variable 'dict object' has no attribute 'location'

[2020-12-07 07:44] tbazant commented on #814
@sebastian-philipp is it a software bug or can we help by aligning the documentation?

[2020-12-07 09:14] dasrohr opened #816 "[doc] 7.4 Install <code class="systemitem">ceph-salt</code> and Apply the Cluster Configuration"
### Type of report
   - [ x] bug
   - [ ] feature request

### Source Document
7.4  Install <code class="systemitem">ceph-salt</code> and Apply the Cluster Configuration:

https://documentation.suse.com/ses/7/html/ses-all/cha-ceph-upgrade.html#upgrade-cephsalt

### Summary
unable to install `zypper install ceph-salt`
conflicts with deepsea-cli

### Steps To Reproduce
[code]

### Expected Results
c

[2020-12-07 09:47] asettle commented on #815
@ricardoasmarques could you please take a look at this?

[2020-12-07 09:49] asettle commented on #816
@dasrohr before going to this step, you should have run through: https://documentation.suse.com/ses/7/html/ses-all/cha-ceph-upgrade.html#upgrade-salt-master here, it outlines how to disable deepsea stages to avoid accidental use.

This may be related to your other issue #815

[2020-12-07 10:44] #814 closed

[2020-12-07 11:31] dasrohr commented on #816
I did those steps before proceeding, just as advised by the docs.

I updated the op as the formatting was bad, so the reported error from zypper is better to read

[2020-12-07 11:34] asettle commented on #816
Thanks @dasrohr - I'll check in with @ricardoasmarques and see if we can test this.

@tserong also

[2020-12-07 11:35] asettle commented on #815
@tserong could you also please take a look? Thank you

[2020-12-07 12:48] dasrohr commented on #815
just a note:
using
[code]

instead of
[code]
fixes the issue. so config that is shown in the docs are wrong

[2020-12-07 14:20] smithfarm opened #818 "[SES7 Deployment Guide] 5.3.2.5 Specify First MON/MGR Node"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
5.3.2.5  Specify First MON/MGR Node:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#deploy-cephadm-configure-mon

### Summary

The SES7 Deploy tells us to specify the first MON/MGR node by setting `/ceph_cluster/roles/bootstrap` to the node's hostname (FQDN). But this is not enough. The user should als

[2020-12-07 16:41] kshtsk opened #819 "[doc] 13.4.4 Removing OSDs"
### Type of report
   - [ ] bug
   - [ ] feature request

### Source Document
13.4.4  Removing OSDs:

https://susedoc.github.io/doc-ses/master/single-html/ses-admin/#removing-node-osds

### Summary
The docs says:
[code]

But it is a bit different from the state of the art cluster command output.
### Steps To Reproduce

[code]

[2020-12-08 06:53] smithfarm commented on #814
Firewall was interfering with the deployment. Not a doc issue.

[2020-12-08 06:58] tbazant opened #820 "different output format of `ceph orch device ls`"
(originated in https://bugzilla.suse.com/show_bug.cgi?id=1179718)

According to the recent docs https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#deploy-cephadm-day2

it says that:

[code]

however on the test cluster deployed using Devel 7 artifacts, I can see the following output of `ceph orch device ls`:

[code]

The header has different column titles, different register, for

[2020-12-08 07:00] tbazant commented on #820
@jan--f @sebastian-philipp can you confirm that the new listing is correct or provide the latest version here please?

[2020-12-08 07:03] tbazant opened #821 "SES6 stage.3 fails with "No highstate or sls specified, no execution made" after reconfiging minion ids"
See https://bugzilla.suse.com/show_bug.cgi?id=1178791 for the original discussion.

[2020-12-08 09:19] #819 closed

[2020-12-08 09:37] asettle commented on #815
This is likely the issue. Thanks @dasrohr :)

[2020-12-08 09:40] asettle commented on #815
@dasrohr the docs are correctly displayed at present:
![Screenshot from 2020-12-08 09-38-48](https://user-images.githubusercontent.com/1987994/101466575-36308280-3939-11eb-93c8-4f6469a60a14.png)

Are you potentially referring to a different section? This is the only instance of that code snippet, and it's correctly aligned

[code]

[2020-12-08 10:14] dasrohr commented on #815
the alignment is not the issue.
the issue is that `insecure` is defined as a separate list, althought it should be part of a dict together with `location`, so that the template at `/srv/salt/ceph/upgrade/ses7/files/registries.conf.j2` can resolve properly

[2020-12-08 12:54] asettle commented on #820
@tbazant according to https://github.com/ceph/ceph/blob/master/src/pybind/mgr/orchestrator/module.py#L401-L402 that's correct.

[2020-12-08 13:48] #770 closed

[2020-12-08 14:17] #821 closed

[2020-12-08 15:31] #744 closed

[2020-12-08 15:59] TimShaw61 opened #826 "Docs say 'salt-run upgrade.status' will run after upgrade but this requires minion_id file which may not be present"
**Link To Section**
https://documentation.suse.com/ses/6/html/ses-all/cha-ceph-upgrade.html#upgrade-adm

**Summary**
Docs say that 'salt-run upgrade.status' will run after upgrade to SES 6 but this command requires the presence of the /etc/salt/minion_id file which may not be present

**Steps To Reproduce**
Upgrade to SES 6 and try running salt-run upgrade.status

**Expected Results**
The newest i

[2020-12-09 06:52] tserong commented on #715
Adding a note probably makes sense, but I'd try to make it as generic as possible...  In that section, it already says "If the node being upgraded is registered with a repository staging system such as SCC, SMT, RMT, or SUSE Manager [...set use_zypper_migration: true...]. Perhaps add something like "in this case, zypper will try to migrate all products installed on the system, if any haven't been

[2020-12-09 07:25] tserong commented on #816
This is technically a bug in the deepsea-cli packaging, i.e. deepsea-cli should specify "Requires: deepsea", so that it's automatically removed when deepsea itself is removed. I've opened https://github.com/SUSE/DeepSea/pull/1864 to fix that, which will land in a maintenance update eventually. Immediately though, I see no problem changing the docs to say `zypper rm 'deepsea*'` to avoid the conflic

[2020-12-09 07:30] tserong commented on #815
@dasrohr is correct. It might look weird, but there should *not* a '-' before insecure. The example should be changed to:
[code]

[2020-12-09 10:22] asettle commented on #715
On it, thanks @tserong - @mvangool let me know if you have any concerns about that solution :)

[2020-12-09 10:23] asettle commented on #815
Apologies, means I misunderstood. Thanks for reporting @dasrohr - it has been fixed here: https://github.com/SUSE/doc-ses/commit/ff9c1c6f4892fb5c3cb3576f4a0f6473863086dc

[2020-12-09 10:23] #815 closed

[2020-12-09 10:32] asettle commented on #816
Updated the docs to reflect @tserong 's comment: https://github.com/SUSE/doc-ses/commit/47197125b4dcce2efed3824c7f4c10aa2481e663

Thanks for reporting @dasrohr - your other issue will be tracked in the DeepSea repo as linked by Tim.

[2020-12-09 10:32] #816 closed

[2020-12-09 14:22] supriti commented on #767
https://documentation.suse.com/ses/7/single-html/ses-admin/#ceph-nfsganesha-create-export

Taking another look at doc, at the link above, we refer to file "export-1". But we never give an example of what this file should look like. The export can be created through dashboard or by creating this file, export-1.

Here we can mention regarding dashboard and also give an example of export file.

[2020-12-09 17:04] ddiss opened #829 "[doc] 5.3.2.12 Enabling data in-flight encryption (msgr2)"
msgr2 isn't currently supported by Linux kernel Ceph clients, such as CephFS and RBD.
5.3.2.12 should warn users of this caveat prior to walking through how it can be configured.

[2020-12-09 17:07] timscotland commented on #715
I have just finished resolving a case with a test system (SES5) that we are upgrading.  The source for the original install of the servers was SMT12 that has a local LTSS repository (that might be a blind ally).

The test system was installed using a variation of the Martin & Frieder install system (https://github.com/Martin-Weiss/cif) that I have used for 3 years now and all worked well.   When d

[2020-12-10 09:59] asettle commented on #826
@tserong will have a look into this for you

[2020-12-10 10:56] tserong commented on #826
@TimShaw61 can you please tell me a bit more about your environment? I assume you're upgrading from SES 5 to 6. If you had an existing SES 5 deployment, I'd expect both salt-master and salt-minion packages to be installed, and those services be running on your salt master node. So /etc/salt/minion_id should already be present, and should actually contain the hostname of that node.

[2020-12-10 11:43] TimShaw61 commented on #826
Tim

Yes - SES5 to 6 upgrade Salt master and minion are installed but I had
no minion_id file.  This does not appear to have affected the operations
in the last 2 years of use until after the upgrade when this script
obviously requires it
Salt minions and salt-master both running on the admin node

Perhaps my situation is not normal and in any case SES5 is out of
support shortly so spending time o

[2020-12-11 08:52] ebl-nde opened #832 "[doc] 25.2 Create an NFS Service"
### Type of report
   - [ ] bug
   - [X] feature request

### Source Document
25.2  Create an NFS Service:

https://documentation.suse.com/ses/7/single-html/ses-admin/#ceph-nfsganesha-nfservice

### Summary

Before deploying an nfs service a pool is required and it has to be present before the nfs config is applied from .yml file where the pool name is referenced.

### Steps To Reproduce

Create a

[2020-12-11 12:21] #829 closed

[2020-12-11 17:01] timscotland commented on #715
Further experimentation. Build a new SLES12.3 server fully patched - no LTSS items added
Add SES5 (as an add-on product) and the two LTSS items are added as part of the SES5 installation and the SLES-LTSS.prod is added to /etc/products.d

Not tested with a slipstreamed install that included SES from the outset.

So 100% a bug but with SES5 going EOL in January there will be a lot of customers that

[2020-12-14 09:16] #832 closed

[2020-12-14 13:21] #820 closed

[2020-12-15 02:20] tserong commented on #715
OK, I didn't expect *that* :-/

Given your findings, that's probably the simplest thing to do/explain.

[2020-12-15 10:13] asettle commented on #715
@timscotland @mvangool - so, it's taken us a little time to figure this out. Especially because: why is the LTSS product being installed without either of you asking for it to be installed.

After some digging and checking, according to https://www.suse.com/lifecycle/, general support for SLE 12 SP3 ended on 30 Jun 2019, so this SLE version is only available under LTSS conditions (till 30 Jun 2022

[2020-12-15 10:26] timscotland commented on #715
@asettle  - Just to be clear, the LTSS element is not part of the repositories listed, and it's 100% not supported as part of a SES5 system

What does seem to be happening is that a patch on the SES5 channel is adding this (almost certainly because of the SLES12 SP3 being EOL) and that is causing the problem (Installing 2 patched and adding the file entry in /etc/products.d)

The question I have t

[2020-12-15 10:58] asettle commented on #715
Looking into it.

[2020-12-16 06:34] tserong commented on #826
salt-minion is responsible for creating /etc/salt/minion_id. It gets created automatically when the salt-minion service starts. For example, on my test system:

[code]

You should never need to create this file manually. If this file is missing, it's either a bug in salt, or something extremely peculiar in your environment :-/ Either way though, I don't think this belongs with SES docs.

[2020-12-16 06:34] #826 closed

[2020-12-16 10:05] asettle commented on #715
Providing context for future: SES5 is based on SLE-12-SP3, but SLE-12-SP3 went out of maintenance before SES5 did. This gave rise to the situation where customers have a valid product, SES5, but requires an invalid OS, SLE-12-SP3, to run. Just gifting these customers an LTSS subscription was one option, but it was decided to send all LTSS updates to the SES5 channel.

Alright, after a little inter

[2020-12-16 11:58] timscotland commented on #715
Makes total sense but this is where I hit the problem.

zypper -lr shows no repo, but the migration failed.   This is what 99.9% of folk to ensure that no LTSS is enabled, but the patched are still installed and that the migration fails.

A secondary check of /etc/products.d is required to ensure the migration works.  May I suggest

Before starting the upgrade, make sure none of the nodes have SLE

[2020-12-16 12:43] smithfarm commented on #715
@timscotland I'm not sure `zypper lr` is the right way to find out if LTSS is enabled. Shouldn't you do something like

    SUSEConnect --status-text

to find out that information?

[2020-12-16 12:53] smithfarm commented on #715
I don't think it's possible to install SLE-12-SP3 and SES5 concurrently. You always have to install the OS first, and then the SES product on top of that.

You might be able to *register* SLE-12-SP3 and SES5 concurrently, though.

[2020-12-16 13:02] timscotland commented on #715
From the box I built to test this I get the following results.  The first thing I would check is the zypper -lr as you would expect that when you run SUSEConnect it will enable and refresh all of the registered repos.  However you are correct in that while it is not registered it is there...

t-ses-6:~ # SUSEConnect --status-text
Installed Products:
------------------------------------------
  SUS

[2020-12-16 13:12] timscotland commented on #715
When you register with an SMT it asks if you want to add any of the available extentions and modules - #2 on the list is SES5
![image](https://user-images.githubusercontent.com/29625600/102352775-17b53180-3fa0-11eb-99c8-f6683ba61a00.png)

Just a quick test this AM shows the same issue there in all it's glory
![image](https://user-images.githubusercontent.com/29625600/102352930-534ffb80-3fa0-11eb-9

[2020-12-16 13:13] smithfarm commented on #715
Bingo! What does `SUSEConnect --status-text` say after you remove `/etc/product.s/SLES-LTSS.prod` ?

[2020-12-16 13:14] timscotland commented on #715
t-ses-6:/etc/products.d # SUSEConnect --status-text
Installed Products:
------------------------------------------

  SUSE Enterprise Storage 5
  (ses/5/x86_64)

  Registered

------------------------------------------

[2020-12-16 13:16] smithfarm commented on #715
I'm afraid I can't answer that. Presumably, someone from the SCC team could shed more light?

[2020-12-16 13:46] holgis commented on #715
I did some testing and found out that the file `/etc/products.d/SLES-LTSS.prod` gets removed when uninstalling the `sles-ltss-release*` packages:

[code]
So it's enough to just uninstall them - no need to delete the file manually.

Here is my proposal for the docu:
Before starting the upgrade process make sure the packages `sles-ltss-release` and `sles-ltss-release-POOL` are **not** installed. If

[2020-12-16 15:20] asettle commented on #765
Hmm @supriti so I've been thinking about this for a little while. The only reason I chose not to include this the first time around was because this is a administration guide, and if we provided every configuration reference point, well, we'd have a configuration reference guide. Is this content available upstream? Or, can we do as you said and point the user directly to the man pages.

[2020-12-16 15:56] asettle commented on #753
If there's no such command at the moment, closing as a WONTFIX.

Thanks.

[2020-12-16 15:56] #753 closed

[2020-12-16 21:14] phakkarainen opened #840 "[doc] 5.4.1.2 Listing devices, services, and daemons"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
5.4.1.2  Listing devices, services, and daemons:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#deploy-cephadm-day2-orch-list

### Summary
You run a different command (copy-paste from v6) and the output of the new command is different.

### Steps To Reproduce

### Expected Results

### Actual Results

[2020-12-17 10:18] asettle commented on #840
@phakkarainen - could you please be more explicit here? I do not know what v6 is, I'm not sure what output you're considering to be incorrect (which, I imagine it is, we're constantly updating the outputs). Please make sure you provide all the information in your reports.

[2020-12-18 07:51] phakkarainen commented on #840
Yes, I can, sorry.

The text reads:
`To run **ceph-volume** on all nodes and list all disk devices, run:`

The command box reads:
`**ceph orch device ls**`

So the commands are different, and I suspect the first being from SES v6 docs.

The output format of `ceph orch device ls` is also different that is show in the box. (My system is currently down, so I can't give you an example.)

[2020-12-18 08:40] phakkarainen commented on #840
[code]

[2020-12-18 13:48] asettle opened #843 "Improve SES 6 upgrade documentation"
**Link To Section**

https://documentation.suse.com/ses/6/single-html/ses-deployment/#cha-ceph-upgrade

**Summary**

A large number of customers will be upgrading from 5 -> 6 with the EOL happening in January. We need to clean up the docs to make this a more linear process with clear guidelines.

**Basic Example**

Nathan outlined basic steps to take:

1. structure the upgrade chapter as a series

[2020-12-21 10:37] asettle commented on #715
Closing this issue with the addition of the LTSS package instruction. I'll be working on #843 to further improve the SES 6 upgrade docs :) any questions or comments, please make them on that issue. This will now be closed. Thank you all!

[2020-12-21 10:37] #715 closed

[2020-12-21 13:04] asettle commented on #765
@mgfritch @tbazant - what do you think about including these files? Is it worth it (now)?

[2020-12-21 13:05] asettle commented on #713
I can't see us going forward with this update after the recent announcement. Let me know if anything changes, @callithea but closing for now.

[2020-12-21 13:05] #713 closed

[2020-12-22 11:41] #818 closed

[2020-12-22 11:41] #840 closed

[2020-12-23 12:52] asettle opened #848 "Update pools chapter to be SES 7 compliant"
**Link To Section**
https://susedoc.github.io/doc-ses/master/single-html/ses-admin/#ceph-pools

**Summary**

17.4.2 Determining the value of PG_NUM
This chapter needs revising, since its no longer true ( is mandatory to choose the value of PG_NUM and PG_NUM cannot be calculated automatically)

There are ~20 locations where we have pool create commands in examples. Many of the still use the old sty

[2021-01-05 04:51] knkonishi opened #850 "Salt Master needs to be reloaded after installing ceph-salt in the upgrade procedure."
**Link To Section**
SUSE Enterprise Storage 7 Deployment Guide
7.4 Installing ceph-salt and applying the cluster configuration
https://documentation.suse.com/ses/7/html/ses-all/cha-ceph-upgrade.html#upgrade-cephsalt

**Summary**
We need to restart salt master and synchronize salt modules by executing the following commands after installing ceph-salt:
[code]
Installing ceph-salt changes the salt ma

[2021-01-05 14:49] tbazant commented on #843
@smithfarm, my comments follow:

If you look at the attached picture, it makes a series of steps
see ![obrazek](https://user-images.githubusercontent.com/2240174/103660148-8ff28f80-4f6d-11eb-94e5-3c08f82180d4.png)

These 2 methods are described just before the actual nodes' upgrades ->  https://documentation.suse.com/ses/6/single-html/ses-deployment/#upgrade-one-node
Shall I move it to some other

[2021-01-05 15:20] smithfarm commented on #843
@tbazant Strictly speaking, those section headings do not make a series of steps. Some of them are steps, others are explanations. At least, the following sections do not appear to be steps to me:

* Points to consider before the upgrade (explanation, not step)
* Per Node Upgrade - Basic Procedure (this appears to be a series of steps, not a single step, and it's not clear where it fits in the ord

[2021-01-06 12:13] tbazant commented on #843
@smithfarm i'm halfway thru, attaching the new structure
![obrazek](https://user-images.githubusercontent.com/2240174/103767397-d1904280-5020-11eb-862b-41cc51703324.png)
and also rendered the current version
[cha-ceph-upgrade_color_en.pdf](https://github.com/SUSE/doc-ses/files/5775680/cha-ceph-upgrade_color_en.pdf)

Please, suggest further changes / reshuffling of sections

[2021-01-06 13:32] tbazant opened #853 "Return post-upgrade cleanup section"
[code]

with the following description:

- To verify that the cluster was sucessfully upgrade, `run ceph versions` and verify the ceph version
- `ceph osd require-osd-release octopus` makes sure no old OSDs are joining the cluster
- `ceph mgr module enable pg_autoscaler` Enables the autoscaler. Please verify with @jan--f , if we want it
- `ceph mgr module enable telemetry` + `ceph telemetry on` en

[2021-01-06 14:38] smithfarm commented on #843
OK... some more things to consider:

1. I noticed that the new text is using a confusing (for me) term "application nodes". Are we really using that term instead of "gateway nodes"? (I think "gateway nodes" is clearer, since these are nodes that run gateways, not nodes that run applications, so I suggest to change "application nodes" to "gateway nodes" here and everywhere else in the documentation

[2021-01-06 14:39] smithfarm commented on #843
Also, typo:

6.2.7 Consolidate Srub-related Configuration

(should be "Scrub-related")

[2021-01-06 18:27] smithfarm commented on #843
One more thing (very important!)

6.11 OSD Migration to BlueStore

OSD migration to BlueStore must be completed while the cluster is still on SES5 - i.e., it is a **prerequisite** for upgrading, and should definitely be moved into "6.2 Steps to Take before Upgrading the First Node". Also, I think the documentation should emphasize more that the upgrade should not be attempted if there are any File

[2021-01-07 13:18] bloriot opened #855 "[doc] 1.3 Getting started with Rook - helm chart operations not detailed/working"
### Type of report
   - [x] bug
   - [x] improvement

### Source Document
1.3  Getting started with Rook:

https://documentation.suse.com/ses/7/single-html/ses-rook/#getting-started-rook

### Summary

Missing arguments documentation or detailed explanation on how to use the following commands:

[code]

Does not work when using as stated above.

[2021-01-07 14:30] bloriot opened #856 "[doc] 1.3 Getting started with Rook - default rook-ceph image version is incorrect"
### Type of report
   - [x] bug

### Source Document
1.3  Getting started with Rook:

https://documentation.suse.com/ses/7/single-html/ses-rook/#getting-started-rook

### Summary
Rook-ceph Image tag provided in helm chart is not correct.

### Steps To Reproduce

[code]

### Expected Results
[code]

### Notes

**rook/ceph:1.4.3** is not available in registry.suse.com.
Default value in helm chart sh

[2021-01-07 18:13] ml8mr commented on #855
The missing bit is the REGISTRY_URL itself. The command should look like:

`helm3 chart pull registry.suse.com/ses/7/charts/rook-ceph:latest
helm3 chart export registry.suse.com/ses/7/charts/rook-ceph:latest`

There are a number of things that need to be improved and clarified in the docs regarding these charts. I hope to get to them before too long.

[2021-01-11 10:10] tbazant commented on #843
@smithfarm your suggestions are addressed, see
[cha-ceph-upgrade_color_en.pdf](https://github.com/SUSE/doc-ses/files/5795064/cha-ceph-upgrade_color_en.pdf)

[2021-01-11 11:10] jan--f commented on #853
Yeah we do want customers to use the autoscaler. Can we add a link to
https://susedoc.github.io/doc-ses/master/html/ses-admin/cha-storage-datamgm.html#op-pgs-autoscaler
please. Just enabling the module puts existing pools in warn mode I believe, whereas new pools are in state `on`. I think its worth explicitly calling that out.

Yeah we want this as well, though I wonder if we need to add a note r

[2021-01-12 04:46] tserong commented on #853
This is required in order for the upmap balancer mode to work, and is actually now the default in upstream master since https://github.com/ceph/ceph/commit/986c271b756. There's also a bit more information about this in a blog post I just found: https://blog.nuvotex.de/ceph/ The only kink is that changing this setting prevents pre-luminous clients. Some further random googling indicates the CephFS

[2021-01-12 10:19] luis-henrix commented on #853
That's true, old kernels that still don't support the MSG_ADDR2, FS_BTIME and FS_CHANGE_ATTR features will be reported as 'jewel'.  As for the SLE15-* we should be fine, these features have been backported; the SLE12-* kernels do *not* have them, though.  Also, other distros kernels may or may not have them depending on kernel versions (>= 5.3) and backports.

[2021-01-12 10:42] jan--f commented on #853
@tbazant @tserong sounds like we need to add a note that `ceph osd set require-min-compat-client luminous` should only be set if no pre-luminous clients are currently connected (check `ceph versions`) _and_ no such clients are expected to join. For the latter I guess we just mention SLE12 and earlier as pre-luminous clients. Also adding a note that this is needed for the upmap balancer sounds appr

[2021-01-12 10:56] tserong commented on #853
Sounds good to me @jan--f

[2021-01-12 12:05] sebastian-philipp opened #861 "[doc] 16.1.1 Deploying using the command-line interface"
Those two sections:

https://susedoc.github.io/doc-ses/master/single-html/ses-admin/#monitoring-cli-spec

and

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#deploy-cephadm-day2-service-monitoring

should actually be completely equal. There is no difference in deploying the monitoring stack between day 1 and day 2.

e.g Let's use the apply -i instead. As we have decided to al

[2021-01-12 14:54] asettle opened #862 "Samba upgrade docs require cross-ref"
**Link To Section**
https://documentation.suse.com/ses/7/single-html/ses-deployment/#upgrade-gateways

**Summary**
The upgrade procedure for the Samba Gateway is the same as the SES 6; It's basically just an OS upgrade.

[2021-01-13 08:37] #850 closed

[2021-01-13 08:37] #853 closed

[2021-01-13 18:09] smithfarm opened #863 "[SES6] SES5 -> 6 upgrade chapter: not clear which release notes are intended to be read"
There is a fundamental problem with "Read the Release Notes" subsection of the SES5 -> 6 upgrade chapter:

[code]

The problem, as I see it, is as follows: this subsection tells the reader to "Read the Release Notes", but it's not clear what is meant by "the release notes"! This is a section of the SES6 documentation so it would be reasonable for the reader to assume the SES6 release notes are mea

[2021-01-14 01:25] knkonishi opened #864 ""ceph orch restart rgw" in the upgrade procedure does not work."
**Link to Section**
SUSE Enterprise Storage 7 Deployment Guide
7.6.1 Upgrading the Object Gateway
https://documentation.suse.com/ses/7/html/ses-all/cha-ceph-upgrade.html#upgrade-ogw

**Summary**
I'm trying to upgrade SES6 to SES7 following the document.
It says `ceph orch restart rgw` should be executed to have the Object Gateway service containerized.
But this command does not containerize or sta

[2021-01-14 11:22] callithea commented on #713
Hi @asettle, unfortunately I got stuck with some dashboard frontend migration issues in my PR and now Volker took over, a new PR has been opened: https://github.com/ceph/ceph/pull/38888

[2021-01-19 09:09] Martin-Weiss opened #865 "[doc] 7.2 Upgrading the Salt Master - add "salt '*' saltutil.sync_all" before "salt-run upgrade.status""
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
7.2  Upgrading the Salt Master:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#upgrade-salt-master

### Summary

See bug https://bugzilla.suse.com/show_bug.cgi?id=1181092

### Steps To Reproduce
apply patches on ses-admin then zypper dup/migrate ses-admin and then execute the salt-run upgrade.status

#

[2021-01-19 09:22] Martin-Weiss opened #866 "[doc] 7.3 Upgrading the MON, MGR, and OSD nodes - replace hostname with minion-id"
### Type of report
   - [x ] bug
   - [ ] feature request

### Source Document
7.3  Upgrading the MON, MGR, and OSD nodes:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#upgrade-mon-mgr-nodes

### Summary
We must not use the "hostname" - we have to use "minionid"

salt HOST_NAME state.apply ceph.upgrade.ses7.adopt -> HOST_NAME must be "minion_id" or similar

[2021-01-19 09:24] Martin-Weiss opened #867 "[doc] 7.2 Upgrading the Salt Master - remove " insecure: true" and explain how to add the trusted CA of the registry to /etc/pki/trust/anchors"
### Type of report
   - [ x] bug
   - [ ] feature request

### Source Document
7.2  Upgrading the Salt Master:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#upgrade-salt-master

### Summary
We must not use "insecure: true" - we have to add the CA cert of the signing CA to /etc/pki/trust/anchors and execute "update-ca-certificates".

[2021-01-19 09:28] Martin-Weiss opened #868 "[doc] 7.2 Upgrading the Salt Master - add information on how to specify registry credentials"
### Type of report
   - [x ] bug
   - [ ] feature request

### Source Document
7.2  Upgrading the Salt Master:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#upgrade-salt-master

### Summary
We just have documented how to specify the on-premise registry:

ses7_container_image: 192.168.121.1:5000/my/ceph/image
ses7_container_registries:
  - location: 192.168.121.1:5000

BUT - how

[2021-01-20 17:03] Martin-Weiss opened #869 "[doc] 7.5 Upgrading and adopting the monitoring stack - grafana image name wrong"
### Type of report
   - [x ] bug
   - [ ] feature request

### Source Document
7.5  Upgrading and adopting the monitoring stack:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#upgrade-cephsalt-monitoring

### Summary
This example is wrong:

192.168.121.1:5000/ses/7/ceph/grafana:7.0.3 \

AFAIK this should be

192.168.121.1:5000/caasp/4.5/grafana:7.0.3 \

[2021-01-20 18:21] bwgartner opened #870 "[doc] 5.3.2.11 Configuring the container registry"
### Type of report
   - [X] bug
   - [ ] feature request

### Source Document
5.3.2.11  Configuring the container registry:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#deploy-cephadm-configure-registry

### Summary

Creating a local registry as documented, by default seems to make HTTP as the protocol for getting the images, but cephadm, by default, wants to use HTTPS

### St

[2021-01-21 11:41] Martin-Weiss opened #871 "[doc] 7.5 Upgrading and adopting the monitoring stack - what about iSCSI and MDS?"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
7.5  Upgrading and adopting the monitoring stack:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#upgrade-cephsalt-monitoring

### Summary
I can not find the steps required for MDS / CephFS and iSCSI and the created specs.yaml does not include iSCSI nor MDS..
So do we miss the documentation or is this

[2021-01-22 11:12] Martin-Weiss opened #872 "[doc] Procedure&nbsp;7.1: Manually copying exports to NFS Ganesha common configuration file - "foo" seems to be wrong"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
Procedure&nbsp;7.1:  Manually copying exports to NFS Ganesha common configuration file :

https://documentation.suse.com/ses/7/single-html/ses-deployment/#id-1.3.6.2.13.3.15

### Summary
The process for NFS configuration migration does not seem to be correct!

-> rados $RADOS_ARGS put conf-nfs.foo conf-nfs.foo

The confi

[2021-01-22 12:15] Martin-Weiss opened #873 "[doc] 7.7 Post-upgrade Clean-up - ceph osd set require-min-compat-client luminous -> invalid command"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
7.7  Post-upgrade Clean-up:

https://susedoc.github.io/doc-ses/master/single-html/ses-deployment/#upgrade-post-cleanup

### Summary

ses-5-admin:~ # ceph osd set require-min-compat-client luminous
Invalid command: require-min-compat-client not in full|pause|noup|nodown|noout|noin|nobackfill|norebalance|norecover|noscrub|

[2021-01-25 13:28] p-se commented on #869
I admit, that it is confusing to obtain three images from `caasp` and only one from `ses`. However, this is correct. We do not require any changes in the images from CaaSP, that's why we can safely use them without having to build and provide our own. This is different for Grafana, as the Grafana dashboards we provide have to be included in the container image, for instance.

[2021-01-25 13:37] sebastian-philipp commented on #870
just to confirm, https://documentation.suse.com/sbp/all/single-html/SBP-Private-Registry/ defaults to create a HTTP registry?

[2021-01-25 13:45] Martin-Weiss commented on #869
From a usability point of view this is a nightmare for customers as it is neither logical nor easy to understand...

Why can´t we have all required SES images from SES namespace on the registry?

[2021-01-25 13:46] sebastian-philipp commented on #868
ceph-salt uses the pillar data from

* ceph-salt/container/auth/registry
* ceph-salt/container/auth/username
* ceph-salt/container/auth/password

But I don't think this is added to the ceph-salt config UI

[2021-01-25 13:48] sebastian-philipp commented on #867
lgtm.

In addition, we no longer support insecure registries at all.

[2021-01-25 14:17] asettle commented on #865
Going to close this as a duplicate - let's keep one location. I've added @tbazant to the BZ.

[2021-01-25 14:17] #865 closed

[2021-01-25 14:37] Martin-Weiss commented on #868
I believe at this stage - we talk about pillar data that is used by deepsea before / as part of the upgrade to SES 7.. so not sure how deepsea is able to use the registry credentials and how...

[2021-01-27 07:32] tserong commented on #873
Yup, that's correct (missing hyphen).

[2021-01-27 10:26] tbazant commented on #861
@sebastian-philipp If I get it right, the goal here is to:
- rename `16.1 Deploying the monitoring stack` to `16.1 Deploying the monitoring stack using custom or local images`
- remove the `16.1.1 Deploying using the command-line interface` section completely
- update `5.4.3.8 Deploying the monitoring stack` to match your description in this issue
Can you confirm that?

[2021-01-27 11:02] sebastian-philipp commented on #861
the thing is, there is no difference between deploying the monitoring stack on day1 and deploying the monitoring stack on day 2. And we decided to use the `ceph orch apply -i file.yaml` approach.

So, as long as day1 and day2 are identical and we only use the `ceph orch apply -i file.yaml`, I'm happy

[2021-01-28 09:24] #861 closed

[2021-01-28 09:55] tbazant commented on #869
@p-se do i need to change anything in the docs in regards to thus issue?

[2021-01-28 10:01] tbazant commented on #868
@sebastian-philipp how can i integrate modifying these credentials in the upgrade process?

[2021-01-28 10:02] #873 closed

[2021-01-28 10:25] p-se commented on #869
No, current documentation might be a little bit confusing but is correct and works.

[2021-02-01 08:27] tbazant commented on #866
@tserong what exactly is the MINION_ID? can i obtain it as an output of some command?

[2021-02-01 08:34] tserong commented on #866
The minion ID is what salt thinks the minion is called, as reported when running `salt-key -L` on the salt master (on each minion, you can also check the contents of /etc/salt/minion_id to see what an individual minion ID is). Usually the minion ID should be the same as the system FQDN, but occasionally it's not.

[2021-02-01 09:38] #866 closed

[2021-02-01 09:40] tbazant commented on #869
WONTFIX

[2021-02-01 09:40] #869 closed

[2021-02-01 09:47] theanalyst commented on #864
Yes this seems about right as the restart wouldn't actually already have the service defintions, so `ceph orch apply` is needed as a step before restart. @sebastian-philipp am I correct?

[2021-02-01 09:53] sebastian-philipp commented on #868
as Martin said, this is independent of deepsea. We need to add those credentials to the ceph-salt pillar data **after** there is ceph-salt pillar data to work with and **before** we're setting the container_image.

[2021-02-01 09:56] sebastian-philipp commented on #864
correct. But I'd use yaml:

[code]
[code]

[2021-02-01 13:59] tbazant commented on #868
@sebastian-philipp How do i set/read these values? By `ceph-salt /ceph-salt/container/auth/registry <registry_url>`?

[2021-02-01 14:01] sebastian-philipp commented on #868
I  think  you'll have to directly modify the salt pillar data @smithfarm ?

[2021-02-02 08:56] tbazant commented on #868
@smithfarm  @sebastian-philipp we do not have this covered in the deployment process neither, i'll extend a section there and then link to it from the upgrade chapter, ok?

[2021-02-02 09:28] #864 closed

[2021-02-02 11:00] yule-sun opened #879 "How to use the different user to mount the cephfs ?"
Excuse me, sir,
 I'm bothering you again. Recently I was testing the tenant isolation feature of cephfs. But when I use the ceph-dokan.exe -l x -u -g command, the mapping always fails. I check the command description. It is possible to use other accounts to map the cephfs directory. Is there a problem with my settings? How to check the gid of the newly added account? I can only check the auid thro

[2021-02-02 11:26] tbazant commented on #843
closed in https://github.com/SUSE/doc-ses/pull/878

[2021-02-02 11:26] #843 closed

[2021-02-02 12:12] tbazant commented on #867
@sebastian-philipp I'll gladly update the docs but would prefer a little more explanation/procedure here, or is one liner enough?

[2021-02-02 12:24] sebastian-philipp commented on #867
background is: We've decided to reduce the number of supported deployments, thus we **only support the harbor registry**. as harbor supports https, there is not reason for use to support insecure registries anymore.  afaik we're linking to harbor in a different place.

that's why we should not recommend users to set `insecure: true`

[2021-02-03 09:30] tbazant commented on #863
fixed in https://github.com/SUSE/doc-ses/pull/880/files

[2021-02-03 09:30] #863 closed

[2021-02-03 09:32] #868 closed

[2021-02-09 13:23] #867 closed

[2021-02-16 14:09] tbazant opened #885 "Inclued additions from upstream PRs"
Inspect and include useful info from the following upstream PRs:

- [x] https://github.com/ceph/ceph/pull/39474
- [x] https://github.com/ceph/ceph/pull/39473
- [x] https://github.com/ceph/ceph/pull/39467
- [x] https://github.com/ceph/ceph/pull/39464

[2021-02-17 08:42] tbazant commented on #856
@bloriot is there a better and more generic way than to specify a version number? some `latest` tag?

[2021-02-17 08:59] tbazant commented on #856
BTW i cant find these snippets anywhere in rook docs, will close as WONTFIX

[2021-02-17 17:32] ml8mr commented on #856
The issue that Benoit is reporting is really that the helm2 chart in kubernetes-charts.suse.com is stale, and based on rook 1.4.3. Our docs only show the helm3 process, so this older repository is not really support. However, I will try to update the helm2 chart in the near future. (This isn't a documentation problem, so it is correct to close this.)

[2021-02-18 08:17] #855 closed

[2021-02-18 08:19] #856 closed

[2021-02-23 07:52] #848 closed

[2021-02-25 07:32] tserong opened #892 "[doc] 5.4.3.5 Deploying iSCSI Gateways is missing SSL configuration information"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
5.4.3.5  Deploying iSCSI Gateways:

https://susedoc.github.io/doc-ses/main/single-html/ses-deployment/#deploy-cephadm-day2-service-igw

### Summary
The iSCSI Gateway's rbd-target-api (which is how both the ceph dashboard and the `gwcli` command line tool talks to ceph-iscsi) can, and should, be configured to use SSL. Inf

[2021-02-25 08:58] tserong commented on #892
Created https://tracker.ceph.com/issues/49488 for upstream docs

[2021-02-25 10:55] tserong commented on #871
You're right, these aren't yet present in the documentation. In addition to the existing RGW and Ganesha sections under [Gateway Upgrades](https://susedoc.github.io/doc-ses/main/single-html/ses-deployment/#upgrade-gateways), we need to add two more, one for MDS, and one for iSCSI. Something like this:

### Upgrading Metadata Servers

Unlike MONs, MGRs and OSDs, Metadata servers can't be adopted in

[2021-02-25 11:52] tserong opened #893 "[doc] 7.7 Post-upgrade Clean-up - mention a bit more about pg_autoscaler"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
7.7  Post-upgrade Clean-up:

https://susedoc.github.io/doc-ses/main/single-html/ses-deployment/#upgrade-post-cleanup

### Summary
We need to add a bit more information to the post-upgrade cleanup section:

"Step 3. Enable the autoscaler module" says to enable the autoscaler module, which is fine, but we should add a note

[2021-02-25 12:03] tserong opened #894 "[doc] 7.4 Installing ceph-salt and applying the cluster configuration needs a couple more steps"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
7.4  Installing <code class="systemitem">ceph-salt</code> and applying the cluster configuration:

https://susedoc.github.io/doc-ses/main/single-html/ses-deployment/#upgrade-cephsalt

### Summary
We need a couple more steps here. It doesn't really matter what order these go in, but I think it probably makes sense to get

[2021-02-25 12:10] Martin-Weiss commented on #871
With LRBD to ceph-iscsi in SES 5 to SES 6 we had a way to upgrade without downtime. See https://bugzilla.suse.com/show_bug.cgi?id=1145617#c41 - maybe we could go a similar way, here to allow upgrade without downtime?

[2021-02-26 06:34] tserong commented on #871
I'm not sure...  At some point, the non-containerized services _do_ need to be stopped, else the containerized services wouldn't be able to start due to ports still being in use, and during that brief window the targets will be down, because stopping the rgw-target-api service removes the targets from LIO. I suppose it's possible that if you `kill -9`'d the services they might not clear the LIO co

[2021-02-26 06:35] tserong commented on #871
@ddiss @ricardoasmarques sorry to bother you, but would either of you be able to comment on the above?

[2021-02-26 07:42] tserong opened #895 "[doc] 7.1.1 Points to consider - add more points"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
7.1.1  Points to consider:

https://susedoc.github.io/doc-ses/main/single-html/ses-deployment/#upgrade-consider-points

### Summary

Please the following additional points:

* Read section 5 "Deploy with cephadm" to familiarise yourself with ceph-salt and the Ceph orchestrator, and in particular the information on servic

[2021-02-26 08:00] tserong opened #896 "[doc] 7.3 Upgrading the MON, MGR, and OSD nodes - insert new "Upgrading Gateway nodes" section"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
7.3  Upgrading the MON, MGR, and OSD nodes:

https://susedoc.github.io/doc-ses/main/single-html/ses-deployment/#upgrade-mon-mgr-nodes

### Summary

Please add a new section between the existing "7.3 Upgrading the MON, MGR, and OSD nodes" and "7.4 Installing ceph-salt and applying the cluster configuration" sections, enti

[2021-02-26 08:07] tserong commented on #862
So I guess this belongs in the new (brief) section I'm proposing in #896 ?

[2021-03-01 01:16] tserong commented on #871
Possible variant: in my instructions above, I've said "If you have more than one iSCSI gateway, make sure to add all gateways to the hosts: list in the placement specification". We could alternately do it gateway at a time, add one host to the spec, apply, and another host to the spec, apply, etc. which means only one gateway would be down at a time.

[2021-03-01 05:37] knkonishi commented on #864
@tbazant Thank you for the update.
When will this update be reflected to https://documentation.suse.com/ses/7/html/ses-all/book-storage-deployment.html ?
I've been waiting for an update of the documentation.

[2021-03-01 06:55] Martin-Weiss commented on #871
That would be great !

[2021-03-01 10:49] #885 closed

[2021-03-01 11:01] #872 closed

[2021-03-01 13:15] tbazant commented on #871
progress tracked in https://github.com/SUSE/doc-ses/commit/44225730e521c79c93ffd68ff808b3eb904ba13c

[2021-03-02 08:50] tbazant commented on #892
update included by https://github.com/SUSE/doc-ses/commit/5f35ed35ce2d09fab255c123ce3a788c0bc4d152

[2021-03-02 09:07] tbazant commented on #893
update included by https://github.com/SUSE/doc-ses/commit/a78cd71ca2adb15f577663b25e48b540e127bf89

[2021-03-02 09:51] tbazant commented on #894
update included in https://github.com/SUSE/doc-ses/commit/927bb323f2545739d61ef968c32a56de07ecc1ac

[2021-03-02 12:32] tbazant commented on #895
update included in https://github.com/SUSE/doc-ses/commit/09aaaf54c9f91406d98bf7a4bad4713ffc607ea6

[2021-03-02 12:48] tbazant commented on #896
update included in https://github.com/SUSE/doc-ses/commit/32d32edb1fdba548baf10c39b02bebbafa5d8fcb

[2021-03-03 08:26] tbazant commented on #879
@ml8mr  Mike, this looks like ceph on windows issue, can you comment
on that please?

[2021-03-03 14:01] p-se opened #901 "formatting tool for contributors"
Do we have a formatting tool that is correctly configured so that it automatically corrects and unifies the formatting (especially indentation)? If so, where can I find it and how to use it? And would it make sense to add this reference then to the README?

[2021-03-03 14:12] #871 closed

[2021-03-03 14:12] #892 closed

[2021-03-03 14:12] #893 closed

[2021-03-03 14:12] #894 closed

[2021-03-03 14:12] #895 closed

[2021-03-03 14:12] #896 closed

[2021-03-11 10:50] sebastian-philipp opened #903 "Verify the monitoring jinja2 template config keys are up to date"
@mgfritch  had to update the names of the monitoring template config keys:

https://github.com/ceph/ceph/pull/39932

[2021-03-15 08:43] tbazant commented on #901
@p-se  does `daps-xmlformat` satisfy your needs here? can we close this one?

[2021-03-15 09:09] p-se commented on #901
@tbazant Sure it does, though, wouldn't it make sense to have that mentioned in the README?

[2021-03-19 09:00] tbazant opened #909 "Add the description of 'rgw_s3_auth_use_ldap' parameter"
**Link To Section**
https://documentation.suse.com/ses/6/single-html/ses-admin/#ceph-rgw-ldap-config

[2021-03-19 09:00] tbazant commented on #909
Alex: "We've supported  S3 authentication with LDAP since SES 5 - however, I'm just checking the details of the parameter as it's not actually in the Nautilus docs (SES 6): https://docs.ceph.com/en/nautilus/radosgw/ldap-auth/#configuring-the-ceph-object-gateway-to-use-ldap-authentication"

[2021-03-19 12:41] smithfarm opened #910 "SES6: add 14.2.13, .14, .15, .16, .17, .18 notable changes to Appendix A"
**Link To Section**

https://documentation.suse.com/ses/6/single-html/ses-deployment/#id-1.4.7

**Summary**

I noticed that Appendix A is missing a bunch of upstream releases. Time to update it?

**Notes**

14.2.13 https://ceph.io/releases/v14-2-13-nautilus-released/
14.2.14 https://ceph.io/releases/v14-2-14-nautilus-released/
14.2.15 https://ceph.io/releases/v14-2-15-nautilus-released/
14.2.16 ht

[2021-03-19 12:41] smithfarm commented on #910
Note: this needs to be published, too, so customers will be able to see it when they install the next update (14.2.17).

[2021-03-19 12:44] smithfarm opened #911 "SES7: add 15.2.6, .7, .8, .9, and .10 notable changes to Appendix A"
**Link To Section**

https://documentation.suse.com/en-us/ses/7/single-html/ses-deployment/#id-1.3.7

**Summary**

I noticed a bunch of upstream Octopus point releases are missing from Appendix A. Time to update it?

**Notes**

15.2.6 https://ceph.io/community/v15-2-6-octopus-released/
15.2.7 https://ceph.io/community/v15-2-7-octopus-released/
15.2.8 https://ceph.io/community/v15-2-8-octopus-relea

[2021-03-19 12:45] smithfarm commented on #911
This will need to be published on documentation.suse.com, too, so customers will be able to see it when they install the next maintenance update.

[2021-03-29 10:40] smithfarm commented on #910
@tbazant Ping

[2021-03-29 10:40] smithfarm commented on #911
@tbazant Ping

[2021-03-31 00:16] ml8mr commented on #879
We do support mounting the filesystem using a given uid/gid. The issue is likely that the command invocation is wrong. For example, “-u” took an uid argument, e.g. -u 1000, same for the gid.

The latest ceph-dokan version no longer takes those CLI arguments. The uid/gid is set through ceph.conf options. For more information see:  https://docs.ceph.com/en/latest/install/windows-basic-config/ and ht

[2021-04-08 06:58] tbazant opened #914 "Remove docupdates section from all SES books"
It is almost empty and useless

[2021-04-08 07:45] #911 closed

[2021-04-08 07:47] #910 closed

[2021-04-08 09:27] #914 closed

[2021-04-08 11:25] #909 closed

[2021-04-08 13:31] asettle opened #918 "[doc] 13.4.5 Replacing OSDs"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
13.4.5  Replacing OSDs:

https://susedoc.github.io/doc-ses/main/single-html/ses-admin/#removing-node-osds-replace

### Summary
Add a note that encouarges the user to trigger a deep-scrub _after_ a disk replacement. See: https://susedoc.github.io/doc-ses/main/single-html/ses-admin/#scrubbing-pgs

[2021-04-12 13:21] #918 closed

[2021-04-15 11:47] tbazant commented on #879
@ml8mr i founf `ceph-dokan` mentioned here https://susedoc.github.io/doc-ses/main/single-html/ses-windows/#windows-cephfs. can you please tell me what snippet to update with what change, or do a pull request yourself? thank you!

[2021-04-16 00:37] ml8mr commented on #879
@tbazant Please let me know if the above PR is sufficient.

[2021-04-22 07:38] tbazant commented on #879
Closed by https://github.com/SUSE/doc-ses/commit/1dfb637baea1c16094778aa662f9590ae984c0d0

[2021-04-22 07:38] #879 closed

[2021-04-22 10:55] tbazant commented on #870
@bwgartner i'm looking at section 5.3.2.11, but there is no step 5. can you please suggest the needed changes more precisely?

[2021-04-22 10:58] tbazant commented on #767
@supriti can you paste an example of `export-1` file together with steps to export such file using Dashboard?

[2021-04-22 11:24] asettle commented on #767
Supriti no longer works at SUSE. However, the exampe of the export-1 file is here: https://confluence.suse.com/display/SUSEEnterpriseStorage/nfs-ganesha#nfsganesha-ExportConfig @mgfritch wrote this fairly extensive doc last year and can help with any NFS-related questions.

[2021-04-28 07:56] tserong opened #928 "SES6, SES7: Describe health alerts introduced by fix for CVE-2021-20288 (Unauthorized global_id reuse in cephx)"
Ceph v4.2.20 (Nautilus, SES6) and v15.2.11 (Octopus, SES7) include fixes for CVE-2021-20288. As part of the fix that CVE, a new health warning was introduced, which is _on_ by default. This affects both existing users upgrading to these versions, and new users deploying for the first time. The dashboard will show the cluster in HEALTH_WARN status, and if you run `ceph status` from a shell, you wil

[2021-04-28 13:53] tbazant commented on #928
progress tracked in https://github.com/SUSE/doc-ses/pull/929

[2021-04-28 13:54] tbazant commented on #928
@tserong where exactly should this info appear (except for the new point release at the end of guides)?
SES6: deployment & upgrade chapter?
SES7 deployment & upgrade chapter?

[2021-04-29 01:45] tserong commented on #928
Yes, I think it's worth also putting in the deployment and upgrade chapters of both versions.

[2021-05-03 07:48] #928 closed

[2021-05-04 07:39] #765 closed

[2021-05-04 07:39] #767 closed

[2021-05-04 08:11] tbazant commented on #862
Is it then enough to inlcude SAMBA GW in https://susedoc.github.io/doc-ses/main/html/ses-deployment/cha-ceph-upgrade.html#upgrade-gateway-nodes ? That's it?

[2021-05-04 08:17] tserong commented on #862
That's my understanding, yes.

[2021-05-04 08:27] #862 closed

[2021-05-04 09:19] tbazant commented on #901
BTW we're working on auto-xml-format GitHub workflow action that would automatically format each modified XML file after a PR is created. Still in testing phase.

[2021-05-11 13:57] rabueker opened #933 "[doc] 1.4 Deploying Ceph with Rook"
### Type of report
   - [ ] bug
   - [ ] feature request

### Source Document
1.4  Deploying Ceph with Rook:

https://documentation.suse.com/ses/7/single-html/ses-rook/#rook-deploy-ceph

### Summary

Point 4: The command to create the cluster is:
kubectl create -f cluster.yaml

### Steps To Reproduce

Using the given description would try to install rook-ceph a second time, which will not work.

#

[2021-05-11 15:35] ml8mr commented on #933
Are you saying that these steps work fine the first time, but the second time it won't work? (If so, we could add a note about it...)

[2021-05-17 06:33] tbazant commented on #901
Good new, the auto xmlformat workflow action is installed on SES repo. It is triggered by creating a pull request or making commits inside PR branch. Therefore, no matter how you format the XML file you're editing, it will be re-formatted after being commited.

[2021-05-17 07:29] #901 closed

[2021-06-01 06:09] tbazant commented on #870
@bwgartner , @ml8mr Does https://github.com/SUSE/doc-ses/pull/941 resolve this issue?

[2021-06-15 09:27] sknorr opened #944 "IDs in DC-ses-man make GitHub Actions fail"
GitHub Actions now checks `DC-ses-man` which apparently was not checked before.
It finds a couple of IDs that still use underscores in there:

[code]

@tbazant Can you take care?

(The action has a setting to disable the ID check but it would be applied to all documents of the repo which I don't think you'd want.)

[2021-06-28 09:15] tbazant commented on #870
solved by https://github.com/SUSE/doc-ses/commit/f48d47a65572b4abb662427c0dd96273b20b66cc

[2021-06-28 09:15] #870 closed

[2021-06-28 13:17] tbazant commented on #944
fixed by https://github.com/SUSE/doc-ses/commit/ada9a141696f117f6b58924648f6a1a67c794184

[2021-06-28 13:17] #944 closed

[2021-07-14 13:14] timscotland opened #947 "7.6.4 (Upgrade Guide)"
**Link To Section**
7.6 Upgrading and adopting the monitoring stack
7.6.4 Apply the service specifications that you previously exported from DeepSea:

ceph orch apply -i specs.yaml

**Summary**
specs.yaml is not in the path.  Add full path in command

**Steps To Reproduce**
ceph orch apply -i specs.yaml

**Expected Results**
Scheduled crash update...
Scheduled node-exporter update...
Scheduled mon

[2021-08-25 01:19] tserong commented on #947
There's no path specified because that file ends up in whatever directory you were in when it was created with `salt-run upgrade.generate_service_specs > specs.yaml`

[2021-08-30 08:12] tserong opened #952 "[doc] 7.2 Upgrading the Salt Master - add DeepSea registry credentials option"
### Type of report
   - [ ] bug
   - [x] feature request

### Source Document
7.2  Upgrading the Salt Master:

https://documentation.suse.com/ses/7/html/ses-all/cha-ceph-upgrade.html#upgrade-salt-master

### Summary
https://github.com/SUSE/DeepSea/pull/1878 gave DeepSea v0.9.36 the ability to specify registry credentials. We need to update this section to include mention of this. Currently, it giv

[2021-10-04 15:17] lezare opened #956 "35.4 'Too Many PGs per OSD' Status Message - PG merging is supported with Nautilus"
**Link To Section**
https://documentation.suse.com/ses/6/single-html/ses-admin/index.html#storage-bp-recover-toomanypgs

**Summary**
The second paragraph in this section still mentions that reducing PGs for an existing pool is not supported. This is incorrect, from Nautilus (SES 6) onwards reducing of PGs is supported.

**Notes**
Suggest to either completely remove the second paragraph in this sec

[2021-10-19 10:15] #952 closed

[2021-10-20 09:41] tbazant commented on #956
@lezare can you pls review https://github.com/SUSE/doc-ses/pull/961/files ?

[2021-10-29 18:03] sknorr opened #963 "lproven no longer with the company, don't assign reviews to him"
.github/auto_assign.yml has this review assignment:

https://github.com/SUSE/doc-ses/blob/f5246e545252885483015e69794cf14bb0b77d00/.github/auto_assign.yml#L11-L12

Not sure if you want to replace him in any way. (Also, if you only need a single reviewer, it's probably easier to use a CODEOWNERS file which is supported natively by GitHub rather than a separate bot. [Example](https://github.com/SUSE

[2021-11-01 14:15] tbazant commented on #963
fixed by 2101846802

[2021-11-01 14:15] #963 closed

[2021-11-02 03:30] bmemmott71 opened #964 "[doc] 17.1 OSD devices"
### Type of report
   - [ X] bug
   - [ ] feature request

### Source Document
17.1  OSD devices:

https://documentation.suse.com/ses/7/single-html/ses-admin/#datamgm-devices

### Summary
typo in example:
#devices
device 0 osd.0 class hdd
device 1 osd.1 class ssd
device 2 osd.2 class nvme
device 3 osd.3class ssd.  <<<<-------

### Expected Results
#devices
device 0 osd.0 class hdd
device 1 osd.1 c

[2021-11-02 11:48] #964 closed

[2021-11-18 09:11] shinkichi23 opened #968 "Hardware coniguration of SES documentation is slighly different from upstream."
**Link To Section**
Please provide a link to the section or chapter you are reporting this bug for.

https://documentation.suse.com/ses/6/single-html/ses-deployment/#sysreq-mon

**Summary**
A clear and concise description of what the bug is.

Regarding the hardware-recommendations of physical RAM in case the both mon and mgr are working in the node.
Does it require 4GB in total for ceph Service th

[2021-12-01 12:05] tbazant commented on #968
fixed by https://github.com/SUSE/doc-ses/commit/7e7623faf810a6646cbdf524e86c4176ca0ff6a8

[2021-12-01 12:05] #968 closed

[2022-02-15 14:07] Martin-Weiss opened #981 "[doc] 10.2 Upgrading the Salt Master - registry authentication not a list!"
### Type of report
   - [ x] bug
   - [ ] feature request

### Source Document
10.2  Upgrading the Salt Master:

https://documentation.suse.com/ses/7/single-html/ses-deployment/#upgrade-salt-master

### Summary
This is wrong:

[code]

When specifying the ses7_container_registry_auth as "lists" with "-" - the error during apply is this:

[code]

### Steps To Reproduce
Follow the documentation for s

[2022-02-18 16:27] votdev opened #986 "[doc] 16.7.2 Configuring the Prometheus Alertmanager for SNMP"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
16.7.2  Configuring the Prometheus Alertmanager for SNMP:

https://documentation.suse.com/ses/7/single-html/ses-admin/#configure-prometheus-alertmanager-for-snmp

### Summary

The example spec file is incorrect.

### Steps To Reproduce

n/a

### Expected Results

The spec file should look like:
[code]

### Actual Results

[2022-02-25 11:07] #981 closed

[2022-03-01 17:53] bmemmott71 opened #989 "ceph mds deactivate fs_name:rank is an invalid command."
**Link To Section**
[Please provide a link to the section or chapter you are reporting this bug for.](https://documentation.suse.com/ses/6/single-html/ses-deployment/#ceph-cephfs-multimds)

**Summary**
ceph mds deactivate fs_name:rank is an invalid command.

**Notes**
I believe the command can be removed from the doc.

[2022-03-03 09:53] lezare opened #990 "[doc] 16 Monitoring and alerting - Custom Grafana Certificates"
### Type of report
   - [ x] bug

### Source Document
16  Monitoring and alerting:

https://documentation.suse.com/ses/7/single-html/ses-admin/index.html#monitoring-alerting

### Summary

We are missing a step for using custom Grafana certificates, it is also needed to restart the MGR service. The actual steps then would be:

1.
 ceph config-key set mgr/cephadm/grafana_key -i $PWD/key.pem
 ceph co

[2022-03-08 19:33] hansvdh opened #992 "[doc] 3.5 Listing configured container images"
### Type of report
   - [X ] bug
   - [ ] feature request

### Source Document
3.5  Listing configured container images:

https://documentation.suse.com/ses/7/html/ses-all/bp-troubleshooting-cephadm.html#bp-troubleshooting-cephadm-configured-container-images

### Summary
The Notes section says this:
mgr/cephadm/container_image_base is the default Ceph conatiner image used by all services except th

[2022-03-09 09:00] Martin-Weiss commented on #981
Any idea when the official docs will be updated? It seems that we still have the "bug", there..

[2022-03-10 07:51] ebl-nde opened #993 "[doc] 13.3 Removing nodes"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
13.3  Removing nodes:

https://documentation.suse.com/ses/7/single-html/ses-admin/#salt-node-removing

### Summary
Step 5. (ceph osd crush remove bucket-name) is not possible at that point yet since the OSDs are still in the crushmap. You would need to purge all existing from that bucket (or node) before you can remove t

[2022-03-11 08:55] #990 closed

[2022-03-11 11:47] tbazant commented on #993
@tserong can you confirm that this procedure is fine or is there a more elegant way of doing this?

[2022-03-11 11:50] tbazant commented on #992
fixed in https://github.com/SUSE/doc-ses/commit/2c690a7c2a24cd15a9bf64814d2ff661ea89d796

[2022-03-11 11:50] #992 closed

[2022-03-11 11:51] tbazant commented on #989
@tserong can you please clarify if and what exactly to remove here?

[2022-03-13 17:13] trociny opened #996 "[doc] 10.4 Enabling the Object Gateway management front-end"
### Type of report
   - [ ] bug
   - [ ] feature request

### Source Document
10.4  Enabling the Object Gateway management front-end:

https://documentation.suse.com/ses/7/single-html/ses-admin/#dashboard-ogw-enabling

### Summary

These commands are outdated:

  ceph dashboard set-rgw-api-access-key ACCESS_KEY
  ceph dashboard set-rgw-api-secret-key SECRET_KEY

For security reasons it has been di

[2022-03-18 09:51] tbazant commented on #996
@trociny please review https://github.com/SUSE/doc-ses/pull/1000

[2022-03-22 07:03] tserong opened #1004 "[doc] 10.3 Upgrading the MON, MGR, and OSD nodes - add bluestore_fsck_quick_fix_on_mount information"
When upgrading from Ceph Nautilus to Pacific, there's a format conversion necessary for OSDs, to improve the accounting for "omap" data. This does not happen automatically. There's a few ways to make it happen:

1. Run `ceph config set osd bluestore_fsck_quick_fix_on_mount true` _before_ adopting any OSDs. As all the OSDs are adopted and started, they will do the format conversion automatically.
2

[2022-03-22 08:46] #996 closed

[2022-03-22 23:43] mgfritch commented on #1004
option 1 seems like the most pragmatic approach since any issue that might occur would be uncovered before the upgrade, whereas option 2 would force the user to either immediately fix any issue that occurred and/or preform a downgrade ...

[2022-03-23 13:25] tbazant commented on #1004
fixed by https://github.com/SUSE/doc-ses/commit/adca5608fa685e83137ec8722dcd2af9c289379c

[2022-03-23 13:25] #1004 closed

[2022-03-28 14:38] votdev opened #1009 "[doc] 6.8.7 Changing configuration options when copying or cloning images"
### Type of report
   - [x] bug
   - [ ] feature request

### Source Document
6.8.7  Changing configuration options when copying or cloning images:

https://susedoc.github.io/doc-ses/main/single-html/ses-admin/#dash-rbd-qos-image-copy

### Summary
There is a typo in the text `If an RBD image is cloned or copied, ...`. I think it should be `If a RBD image`.

### Expected Results
`If an RBD` => `If

[2022-03-28 14:39] #1009 closed

[2022-03-29 09:06] tbazant opened #1010 "Document deploying services via Dasboard"
**Link To Section**
https://susedoc.github.io/doc-ses/main/html/ses-admin/dashboard-cluster.html#dashboard-cluster-services

**Summary**
Apart from viewing running services, you can now deploy them via Dashboard.

[2022-03-31 07:31] tbazant opened #1012 "Fix external links"
**Summary**
Run `daps checklink`
 There are issues reported for the versions 5.5 and 6 in English and for 5.5, 6, and 7 for the languages.

[2022-03-31 07:55] jfaltenbacher commented on #1012
Please find a list of all broken links in this spreadsheet. The green ones are already done. Thanks a million
[SES_broken_links.xlsx](https://github.com/SUSE/doc-ses/files/8387218/SES_broken_links.xlsx)

[2022-04-11 07:17] #1012 closed

[2022-05-19 12:21] trociny opened #1024 "[doc] Issue in "Creating RBD images""
### Type of report
   - [ ] bug
   - [ ] feature request

### Source Document
9.1.4.3 Exporting RBD images via iSCSI

https://documentation.suse.com/ses/7/html/ses-all/deploy-additional.html#ceph-iscsi-rbd-export

### Summary

Need to add a note about disabling "emulate legacy capacity" functionality.

https://bugzilla.suse.com/show_bug.cgi?id=1199090

### Notes

In older kernels the rbd target in

[2022-05-23 11:20] tserong commented on #989
Yeah, we need to remove the `ceph mds deactivate fs_name:rank` command and associated description.

A couple of lines up, it says "In order to shrink the MDS cluster prior to an update, two steps are necessary. First, set max_mds so that only one instance remains:'. This should be changed to "In order to shrink the MDS cluster prior to an update, set max_mds so that only one instance remains", the

[2022-05-24 07:59] tserong commented on #993
The purge should happen automatically as a result of running `ceph orch osd rm` as documented in "13.4.4 Removing OSDs". `ceph orch osd rm` first drains the OSDs (reweights them so their data is moved elsewhere), then once that's complete, they'll be automatically purged. If a drain does *not* complete (`ceph orch osd rm status` will just show the OSD in state "draining" forever), they will never

[2022-05-24 08:12] ebl-nde commented on #993
Unfortunately, I can't exactly recall all of the steps but there's more than enough space in this cluster, the HDD nodes are basically empty and draining would not have taken much time as there are 11 other HDD nodes. I'll take a closer look next time this happens.

[2022-05-24 08:28] tserong commented on #993
Thanks for the reply. If you do hit this again, please also post `ceph status` output.

In my tests the problem wasn't free space, it was the number of remaining OSDs on other hosts. With the default replica level of three, and with only three storage nodes, I wasn't able to remove any OSDs (the drain never completed), because ceph couldn't guarantee three replicas of the data anymore. With five n

[2022-05-24 08:36] #989 closed

[2022-05-26 08:01] #1024 closed

[2022-06-07 12:46] Martin-Weiss opened #1030 "[doc] Issue in "Upgrade from SUSE Enterprise Storage 7 to 7.1""
### Type of report
   - [x] bug
   - [x] feature request

### Source Document
https://documentation.suse.com/ses/7.1/html/ses-all/upgrade-to-pacific.html#

### Summary
Can not find the information about upgrading the monitoring components (alertmanager, grafana, node-exporter, prometheus)

### Steps To Reproduce
Read the docs and try to find the information about how to upgrade the "non ceph" imag

[2022-06-07 13:58] Martin-Weiss opened #1031 "[doc] Issue in "SSL for RGW in 7.1" - got an unexpected keyword argument 'rgw_frontend_ssl_key'"
### Type of report
   - [ x] bug
   - [ ] feature request

### Source Document[
https://documentation.suse.com/ses/7.1/single-html/ses-deployment/#cephadm-deploy-using-secure-ssl-access

### Summary
the rgw_frontend_ssl_key does NOT exist in 7.1 / pacific anymore!

### Steps To Reproduce
Follow the docs and apply rgw.yaml - you will get the above error

### Expected Results
Deployment works withou

[2022-06-08 09:29] #1010 closed

[2022-06-13 13:03] trociny commented on #1031
A quick research shows that is was removed in this PR [1], more exactly this commit [2], and the idea is that instead of two params rgw_frontend_ssl_certificate and rgw_frontend_ssl_key we have now only one rgw_frontend_ssl_certificate, where both the certificate and the key should be concatenated as one value. We may want the cephadm team to confirm.

[1] https://github.com/ceph/ceph/pull/42305
[

[2022-06-13 19:47] mgfritch commented on #1031
yes, both certificate and key should be concatenated into the `rgw_frontend_ssl_certificate`[1].

[1] https://docs.ceph.com/en/pacific/cephadm/services/rgw/#setting-up-https

[2022-06-14 09:57] tbazant commented on #1031
@trociny can you please review this one https://github.com/SUSE/doc-ses/pull/1032/files ?

[2022-06-14 10:31] #1031 closed

[2022-06-14 11:41] tbazant commented on #1030
@tserong what we have is https://susedoc.github.io/doc-ses/main/html/ses-deployment/upgrade-to-pacific.html#upgrade-ses-services - is that enough for upgrading the abovementioned monitoring components ?

[2022-06-15 15:09] Martin-Weiss commented on #1030
For me this was not enough - this is just updating the components that are using the ceph image.. but alertmanager, grafana, prometheus, node-exporter are not listed, here...

Assumption is that you have to configure the new image and then run "redeploy" and/or "reconfig" or?? Maybe there is a cephadm or an orch command?

[2022-07-25 04:43] tserong commented on #1030
AIUI `ceph orch upgrade` will do the monitoring stack automatically if you're using registry.suse.com (i.e. haven't overridden any of the `mgr/cephadm/container_image_*` options in order to use a local registry). If you _are_ using a local registry, then I suspect you do have to set those various container image URLs in order to upgrade the monitoring stack, and if so, the details should be added

[2022-07-25 08:56] p-se commented on #1030
I'm not sure if `ceph orch upgrade` handles the upgrade of monitoring containers (IIRC, it did not, but it may in the meantime. @mgfritch might know for sure) but if it does and Ceph has been upgraded (specifically the mgr), then it'll just work. If it does not handle the upgrade, `ceph orch reconfig <service>` will do the upgrade, provided that an updated container image is configured, which will

[2022-07-25 10:29] tserong commented on #1030
Thanks @p-se!

[2022-07-25 14:05] #1030 closed

[2022-10-04 12:18] ebl-nde opened #1046 "[doc] Add general section for offline OSD/service management and/or troubleshooting section"
### Type of report
   - [ ] bug
   - [X] feature request

### Source Document

https://documentation.suse.com/ses/7.1/single-html/ses-admin/#migrating-db-device

### Summary

The section https://documentation.suse.com/ses/7.1/single-html/ses-admin/#migrating-db-device contains quite useful information on how to query an offline OSD deployed by cephadm. It would help a lot to have some general info

[2022-10-11 09:22] bmemmott71 commented on #989
Hi Thomas

No. Just remove the following:

and after that, explicitly deactivate the other active MDS daemons:

***@***.*** > ceph mds deactivate fs_name:rank

COPY

where rank is the number of an active MDS daemon of a file system instance, ranging from 0 to max_mds-1.

Thanks
Boyd Memmott
L2 SES & SLES support Engineer
www.suse.com
________________________________
From: Tomáš Bažant ***@***.***>

[2022-10-18 07:19] #1046 closed

[2022-10-25 07:51] ebl-nde opened #1051 "[doc] Issue in "Removing nodes""
### Type of report
   - [X] bug
   - [ ] feature request

### Source Document
https://documentation.suse.com/ses/7.1/single-html/ses-admin/#salt-node-removing

### Summary

The docs state to remove the remaining services (e.g. node-exporter, crash) after the host has been removed (step 2: "ceph orch host rm ses-min2"). This leads to an error:
[code]
So it's required to remove all services first, t

[2022-10-25 07:55] ebl-nde commented on #1051
Draining the services after running step 3 (cephadm rm-daemon) is not possible anymore:
[code]
Now I'll need to figure out, how to remove the failed services. I'll update if I managed to. It seems that the procedure has changed between SES 7 and 7.1, because I removed the same node successfully in 7 before the upgrade.

[2022-10-25 07:59] ebl-nde commented on #1051
Sorry for the noise, the situation cleared automatically after a few minutes. The warning cleared and then I could remove the host with `ceph orch host rm storage14`. But the order of the commands should be fixed.

[2022-10-28 11:54] ebl-nde opened #1052 "[doc] Issue in "10.1.2 Backing Up cluster configuration and data""
### Type of report
   - [X] bug
   - [ ] feature request

### Source Document
:

https://documentation.suse.com/ses/7.1/single-html/ses-deployment/#upgrade-backup-config-data

### Summary

The link to the SES 6 docs is not available anymore, it is referenced when creating a backup before upgrading from SES 6 to SES 7.1 (https://documentation.suse.com/ses/6/html/ses-all/cha-deployment-backup.html).

[2022-11-10 10:24] tbazant commented on #1051
@ebl-nde can you pls review #1054 ?

[2022-11-10 17:33] #1052 closed

[2022-11-11 09:59] #1051 closed